
/* navbar */
.navbar-default {
    background-color: white;
    border-color: lightgray;
    height: 70px;
    margin-top: 10px;
}
/* Title */
.navbar-brand {
    background-color: #4aaaa5;
    width: 200px;
    text-align: center;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 24px;
    height: 68px;
