<!--Start Nav-->
<nav class="navbar navbar-expand-md navbar-expand-lg navbar-expand-xl blue-gradient-rgba">
    <a class="navbar-brand" href="/home">Eric Willard</a>

    <!-- Social Media Contact Links-->
    <ul class="navbar-collapse justify-content-start mr-auto list-inline">
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.linkedin.com/in/willarderic/">
                <img src="images/LinkedIn_Splash_Circle.png" alt="linkedin" class="linkedin" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.github.com/ewill20">
                <img src="images/gitHub_Icon_Circle.png" alt="github" class="github" style="height: 55px; width: 55px">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://stackoverflow.com/users/8011910/e-dub">
                <img src="images/stackOverflow_Icon_Circle.png" alt="StackOverflow" class="stackOverflow" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.500px.com/ewill20">
                <img src="images/500px_Icon_Splatter_Circle2.png" alt="500px" class="500px" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.viewbug.com/member/ewill">
                <img src="images/Viewbug_Splash_Circle.png" alt="Viewbug" class="Viewbug" style="height: 55px; width: 55px; display: inline-block; border-radius: 60px; box-shadow: 0px 0px 2px #888;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.instagram.com/ewill20">
                <img src="images/Instagram_Worldly_Splash.png" alt="Instagram" class="Instagram" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.youtube.com/c/EricWillard20">
                <img src="images/YouTube_Splash_Circle.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://my.indeed.com/p/ahe-0b0kbxs">
                <img src="images/Indeed_Circle.png" alt="Indeed" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://the-adaptive-traveler.herokuapp.com">
                <img src="images/TAT_Icon_Circle.png" alt="TAT" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.behance.net/ewill20">
                <img src="images/Behance_Icon_Splash.png" alt="Behance" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="http://www.visuallycheeky.com">
                <img src="images/Visually_Cheeky_Circle.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>

    <!--Dropdown for site navigation-->
<div class="dropdown" style="padding-bottom: 10px;">
    <button class="btn btn-danger btn-lg dropdown-toggle" type="button" id="nav-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Site Navigation
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/webPort">Web Development</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/experience">Experience</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/education">Education</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/travel">Travel</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/photo">Photography</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/skills">Skills</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/video">Video</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/lang">Languages</a>
        </li>
    </ul>
</div>
<!--End Dropdown Button-->

    <!-- Language Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/designCN"><span class="China"></span>
            <img src="images/chinese_Icon_Circle.png" alt="chinese-flag" class="China-flag" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/designDE"><span class="German"></span>
            <img src="images/deutsch_Icon_Circle.png" alt="German" class="German" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/designFR"><span class="France"></span>
            <img src="images/french_Icon_Circle.png" alt="French-Flag" class="French-Flag" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>
    <!-- Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/home">
            <img src="images/home_Icon_Circle.png" alt="Home" class="Home" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/contact">
            <img src="images/email_Icon_Circle.png" alt="Contact" class="Contact" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/about">
            <img src="images/info_Icon.png" alt="About" class="About" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>
</nav>
<!--End Navbar-->

<!--Start Top Row-->
<div class="row top">
    <!--Start TAT-->
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="TATInfo">
                <img class="card-img-top rounded img-fluid" id="TATImage" src="//invis.io/FSY92I593HY">
                    <div class="mask flex-center rgba-blue-strong">
                        <p class="white-text"></p> <a href="//invis.io/FSY92I593HY"></a>
                            A prototype for "The Adaptive Traveler" so far designed for iOS using Sketch and InVision.  Click the image to visit the InVision website and view the prototype.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <!-- Start Row 1-->
            <div class="card-title">
                The Adaptive Traveler
            </div>
        </div>  
    </div>
    <!--End TAT-->

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <!--Start Bernie-->
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="bernieInfo">
                <img class="card-img-top rounded img-fluid" id="bernie" src="../images/Bernie2020.4.png">
                    <div class="mask flex-center rgba-blue-strong">
                        <p class="white-text">
                            A nice campaign logo I made for Bernie Sanders' 2020 Campaign
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Feel The Bern
            </div>
        </div>  
    </div>
    <!--End Bernie-->

    <!--Start Right Column-->
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <!--Start Ginger Jayhawk-->
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="gingerJayhawkInfo">
                <img class="card-img-top rounded img-fluid" id="gingerJayhawk" src="../images/StPattyJayhawkBetter.jpg">
                    <div class="mask flex-center rgba-blue-strong">
                        <p class="white-text">
                            St. Patty's Day was on the horizon and so I decided to play with Photoshop and make a St. Patty's-themed Jayhawk.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Ginger Jayhawk
            </div>
        </div>  
    </div>
    <!--End Ginger Jayhawk-->
</div>
<!-- End Row 1-->

<!--Start Second Row-->
<div class="row third">
    <!--Start Screamin Bruu-->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="screaminBruu2Info">
                <img class="card-img-top rounded img-fluid" id="screaminBruu2" src="../images/ScreaminBruu.jpg">
                    <div class="mask flex-center rgba-blue-strong">
                        <p class="white-text">
                            A funny logo that I made for my South African buddy with whom I taught English in China.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <!-- Start Row 1-->
            <div class="card-title">
                Screamin' Bruu
            </div>
        </div>  
    </div>
    <!--End Screamin Bruu-->

    <!--Start Circular San Diego-->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="sdCirclePanoInfo">
                <img class="card-img-top rounded img-fluid" id="sdCirclePano" src="../images/CADowntownPanoBWPC.jpg">
                    <div class="mask flex-center rgba-blue-strong">
                        <p class="white-text">
                            A beautiful panorama I took of iconic downtown San Diego and then made it circular.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Circular San Diego
            </div>
        </div>
        <!--End SD Pano Column-->
    

</div>
<!--End Second Row-->



<!--Start Row T-Shirts-->
<div class="row third">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="adenauerPlatzInfo">
                <img class="card-img-top rounded img-fluid" id="adenauerPlatz" src="../images/Adenauerplatz3.jpg">
                    <div class="mask flex-center rgba-blue-strong">
                        <p class="white-text">
                            "U-Bahn Series" every single metro station in Berlin.  This one is named after the first German Chancellor of West Germany, Konrad Adenauer.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Adenauerplatz
            </div>
        </div>  
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="berlinerStrasseInfo">
                <img class="card-img-top rounded img-fluid" id="berlinerStrasse" src="../images/BerlinerStraße.jpg">
                    <div class="mask flex-center rgba-blue-strong">
                        <p class="white-text">
                            "U-Bahn Series" every single metro station in Berlin.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                "Ich bin ein Berliner"
            </div>
        </div>  
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="bismarckInfo">
                <img class="card-img-top rounded img-fluid" id="bismarck" src="../images/BismarckStraße.jpg">
                    <div class="mask flex-center rgba-blue-strong">
                        <p class="white-text">
                            "U-Bahn Series" every single metro station in Berlin.  This one is named after the first Chancellor of unified Germany Otto von Bismarck.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Otto von Bismarck
            </div>
        </div>  
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="hermannPlatzInfo">
                <img class="card-img-top rounded img-fluid" id="hermannPlatz" src="../images/Hermannplatz2.jpg">
                    <div class="mask flex-center rgba-blue-strong">
                        <p class="white-text">
                            "U-Bahn Series" every single metro station in Berlin.  This particular station was the first in Berlin to feature escalators.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Hermannstraße
            </div>
        </div>  
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="jannowitzInfo">
                <img class="card-img-top rounded img-fluid" id="jannowitz" src="../images/Jannowitzbrücke.jpg">
                    <div class="mask flex-center rgba-blue-strong">
                        <p class="white-text">
                            "U-Bahn Series" every single metro station in Berlin.  This particular station is so cool with all of its brightly colored highlighter-colored walls.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Jannowitzbrücke
            </div>
        </div>  
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="osloerInfo">
                <img class="card-img-top rounded img-fluid" id="osloer" src="../images/OsloerStraßeShort.jpg">
                    <div class="mask flex-center rgba-blue-strong">
                        <p class="white-text">
                            "U-Bahn Series" every single metro station in Berlin.  An iconic station modeled after the Norwegian flag.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Osloerstraße
            </div>
        </div>  
    </div>
</div>
<!--End T-Shirt Row-->

<!--Start Row 3-->
<div class="row fourth" style="margin-bottom: 100px;">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <!--Start Despair-->
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="trumpDespairInfo">
                <img class="card-img-top rounded img-fluid" id="trumpDespair" src="../images/TrumpDespair.jpg">
                    <div class="mask flex-center rgba-blue-strong">
                        <p class="white-text">
                            A logo I made indicative of the Obama "Hope" image, but with the opposite message.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Despair
            </div>
        </div>  
    </div>
    <!--End Despair-->

    <!--Start Jayhawk Blitz-->
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="colorJayhawkInfo">
                <img class="card-img-top rounded img-fluid" id="colorJayhawk" src="../images/KansasJayhawk2.jpg">
                    <div class="mask flex-center rgba-blue-strong">
                        <p class="white-text">
                            Another Jayhawk logo that I made because the crimson and blue are just so beautiful!
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Jayhawk Blitz
            </div>
        </div>  
    </div>
    <!--End Jayhawk Blitz-->

    <!--Start WAC Column-->
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="WAClogoInfo">
                <img class="card-img-top rounded img-fluid" id="WAClogo" src="../images/Logo2.jpg">
                    <div class="mask flex-center rgba-blue-strong">
                        <p class="white-text">
                            A logo I made as the photographer/designer of a previous modeling partnership.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                W.A.C.
            </div>
        </div>  
    </div>
    <!--End WAC Column-->
</div>
<!-- End Row 3-->

<footer class="footer blue-gradient-rgba">
    © 2020 Eric Willard
</footer>