<!--Start Nav-->
<nav class="navbar navbar-expand-md navbar-expand-lg navbar-expand-xl sunny-morning-gradient">
    <a class="navbar-brand" href="/homeDE">Eric Willard</a>

    <!-- Social Media Contact Links-->
    <ul class="navbar-collapse justify-content-start mr-auto list-inline">
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.linkedin.com/in/willarderic/">
                <img src="images/linkedin.png" alt="linkedin" class="linkedin" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.github.com/ewill20">
                <img src="images/githubicon.png" alt="github" class="github" style="height: 55px; width: 55px">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://stackoverflow.com/users/8011910/e-dub">
                <img src="images/stackOverflow.png" alt="StackOverflow" class="stackOverflow" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.500px.com/ewill20">
                <img src="images/500px.png" alt="500px" class="500px" style="height: 60px; width: 60px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.viewbug.com/member/ewill">
                <img src="images/viewbug.jpg" alt="Viewbug" class="Viewbug" style="height: 55px; width: 55px; display: inline-block; border-radius: 60px; box-shadow: 0px 0px 2px #888;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.instagram.com/ewill20">
                <img src="images/InstagramNew.png" alt="Instagram" class="Instagram" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.youtube.com/channel/UCJ75p4PUoM-ZbQvO5B-iZ7w?view_as=subscriber">
                <img src="images/YouTube-icon.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>
    <!-- Language Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/design"><span class="flag-icon flag-icon-us"></span></a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/designCN"><span class="flag-icon flag-icon-cn"></span></a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/designFR"><span class="flag-icon flag-icon-fr"></span></a>
        </li>
    </ul>
    <!-- Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-inline-item">
            <a class="nav-link glyphicon glyphicon-envelope" href="/contact"></a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link glyphicon glyphicon-book" href="/about"></a>
        </li>
    </ul>
</nav>
<!--End Navbar-->

<!--Start Top Row-->
<div class="row top">
    <!--Start Screamin Bruu-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="screaminBruu2Info">
                <img class="card-img-top img-fluid" id="screaminBruu2" src="../images/ScreaminBruu.jpg">
                    <div class="mask flex-center rgba-blue-strong">
                        <p class="white-text">
                            A funny logo that I made for my South African buddy with whom I taught English in China.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <!-- Start Row 1-->
            <div class="card-title">
                Screamin' Bruu
            </div>
        </div>  
    </div>
    <!--End Screamin Bruu-->

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <!--Start Bernie-->
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="bernieInfo">
                <img class="card-img-top img-fluid" id="bernie" src="../images/Bernie2020.4.png">
                    <div class="mask flex-center rgba-blue-strong">
                        <p class="white-text">
                            A nice campaign logo I made for Bernie Sanders' 2020 Campaign
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Feel The Bern
            </div>
        </div>  
    </div>
    <!--End Bernie-->

    <!--Start SD Pano Column-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="sdCirclePanoInfo">
                <img class="card-img-top img-fluid" id="sdCirclePano" src="../images/CADowntownPanoBWPC.jpg">
                    <div class="mask flex-center rgba-blue-strong">
                        <p class="white-text">
                            A beautiful panorama I took of iconic downtown San Diego and then made it circular.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Circular San Diego
            </div>
        </div>
        <!--End SD Pano Column-->  
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <!--Start Ginger Jayhawk-->
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="gingerJayhawkInfo">
                <img class="card-img-top img-fluid" id="gingerJayhawk" src="../images/StPattyJayhawkBetter.jpg">
                    <div class="mask flex-center rgba-blue-strong">
                        <p class="white-text">
                            St. Patty's Day was on the horizon and so I decided to play with Photoshop and make a St. Patty's-themed Jayhawk.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Ginger Jayhawk
            </div>
        </div>  
    </div>
    <!--End Ginger Jayhawk-->
</div>
<!-- End Row 1-->

<!--Start Row T-Shirts-->
<div class="row third">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="adenauerPlatzInfo">
                <img class="card-img-top img-fluid" id="adenauerPlatz" src="../images/Adenauerplatz3.jpg">
                    <div class="mask flex-center rgba-blue-strong">
                        <p class="white-text">
                            "U-Bahn Series" every single metro station in Berlin.  This one is named after the first German Chancellor of West Germany, Conrad Adenauer.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                W.A.C.
            </div>
        </div>  
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="berlinerStrasseInfo">
                <img class="card-img-top img-fluid" id="berlinerStrasse" src="../images/BerlinerStraße.jpg">
                    <div class="mask flex-center rgba-blue-strong">
                        <p class="white-text">
                            "U-Bahn Series" every single metro station in Berlin.  This one is named after a previous German Chancellor named Conrad Adenauer.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                "Ich bin ein Berliner"
            </div>
        </div>  
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="bismarckInfo">
                <img class="card-img-top img-fluid" id="bismarck" src="../images/BismarckStraße.jpg">
                    <div class="mask flex-center rgba-blue-strong">
                        <p class="white-text">
                            "U-Bahn Series" every single metro station in Berlin.  This one is named after the first Chancellor of unified Germany Otto von Bismarck.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Otto von
            </div>
        </div>  
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="hermannPlatzInfo">
                <img class="card-img-top img-fluid" id="hermannPlatz" src="../images/Hermannplatz2.jpg">
                    <div class="mask flex-center rgba-blue-strong">
                        <p class="white-text">
                            "U-Bahn Series" every single metro station in Berlin.  This particular station was the first in Berlin to feature escalators.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Hermann
            </div>
        </div>  
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="jannowitzInfo">
                <img class="card-img-top img-fluid" id="jannowitz" src="../images/Jannowitzbrücke.jpg">
                    <div class="mask flex-center rgba-blue-strong">
                        <p class="white-text">
                            "U-Bahn Series" every single metro station in Berlin.  This particular station is so cool with all of its brightly colored highlighter-colored walls.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Jan.
            </div>
        </div>  
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="osloerInfo">
                <img class="card-img-top img-fluid" id="osloer" src="../images/OsloerStraßeShort.jpg">
                    <div class="mask flex-center rgba-blue-strong">
                        <p class="white-text">
                            "U-Bahn Series" every single metro station in Berlin.  An iconic station modeled after the Norwegian flag.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                fra Oslo
            </div>
        </div>  
    </div>
</div>
<!--End T-Shirt Row-->

<!--Start Row 3-->
<div class="row second" style="margin-bottom: 100px;">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <!--Start Despair-->
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="trumpDespairInfo">
                <img class="card-img-top img-fluid" id="trumpDespair" src="../images/TrumpDespair.jpg">
                    <div class="mask flex-center rgba-blue-strong">
                        <p class="white-text">
                            A logo I made indicative of the Obama "Hope" image, but with the opposite message.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Despair
            </div>
        </div>  
    </div>
    <!--End Despair-->

    <!--Start Jayhawk Blitz-->
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="colorJayhawkInfo">
                <img class="card-img-top img-fluid" id="colorJayhawk" src="../images/KansasJayhawk2.jpg">
                    <div class="mask flex-center rgba-blue-strong">
                        <p class="white-text">
                            Another Jayhawk logo that I made because the crimson and blue are just so beautiful!
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Jayhawk Blitz
            </div>
        </div>  
    </div>
    <!--End Jayhawk Blitz-->

    <!--Start WAC Column-->
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="WAClogoInfo">
                <img class="card-img-top img-fluid" id="WAClogo" src="../images/Logo2.jpg">
                    <div class="mask flex-center rgba-blue-strong">
                        <p class="white-text">
                            A logo I made as the photographer/designer of a previous modeling partnership.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                W.A.C.
            </div>
        </div>  
    </div>
    <!--End WAC Column-->
</div>
<!-- End Row 3-->

<footer class="footer sunny-morning-gradient">
    © Eric Willard
</footer>