<!--Start Nav-->
<nav class="navbar navbar-expand-md navbar-expand-lg navbar-expand-xl winter-neva-gradient">
    <a class="navbar-brand" href="/homeFR">Eric Willard</a>

    <!-- Social Media Contact Links-->
    <ul class="navbar-collapse justify-content-start mr-auto list-inline">
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.linkedin.com/in/willarderic/">
                <img src="images/LinkedIn_Splash_Circle.png" alt="linkedin" class="linkedin" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.github.com/ewill20">
                <img src="images/gitHub_Icon_Circle.png" alt="github" class="github" style="height: 55px; width: 55px">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://stackoverflow.com/users/8011910/e-dub">
                <img src="images/stackOverflow_Icon_Circle.png" alt="StackOverflow" class="stackOverflow" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.500px.com/ewill20">
                <img src="images/500px_Icon_Splatter_Circle2.png" alt="500px" class="500px" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.viewbug.com/member/ewill">
                <img src="images/Viewbug_Splash_Circle.png" alt="Viewbug" class="Viewbug" style="height: 55px; width: 55px; display: inline-block; border-radius: 60px; box-shadow: 0px 0px 2px #888;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.instagram.com/ewill20">
                <img src="images/Instagram_Worldly_Splash.png" alt="Instagram" class="Instagram" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.youtube.com/c/EricWillard20">
                <img src="images/YouTube_Splash_Circle.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://my.indeed.com/p/ahe-0b0kbxs">
                <img src="images/Indeed_Circle.png" alt="Indeed" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://the-adaptive-traveler.herokuapp.com">
                <img src="images/TAT_Icon_Circle.png" alt="TAT" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.behance.net/ewill20">
                <img src="images/Behance_Icon_Splash.png" alt="Behance" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="http://www.visuallycheeky.com">
                <img src="images/Visually_Cheeky_Circle.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>

    <!--Dropdown for site navigation-->
<div class="dropdown">
    <button class="btn winter-neva-gradient btn-lg dropdown-toggle" type="button" id="nav-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Nav sur le Site
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/webPortFR">Projets</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/experienceFR">Expériences Professionelles</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/educationFR">Éducation</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/photoFR">La Photographie</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/skillsFR">Compétences</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/videoFR">Vidéo</a>
        </li>
    </ul>
</div>
<!--End Dropdown Button-->

    <!-- Language Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/design"><span class="flag-icon flag-icon-us"></span></a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/designCN"><span class="flag-icon flag-icon-cn"></span></a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/designDE"><span class="flag-icon flag-icon-de"></span></a>
        </li>
    </ul>
    <!-- Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-inline-item">
            <a class="nav-link glyphicon glyphicon-envelope" href="/contact"></a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link glyphicon glyphicon-book" href="/about"></a>
        </li>
    </ul>
</nav>
<!--End Navbar-->

<!--Start Top Row-->
<div class="row top">
    <!--Start Screamin Bruu-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="screaminBruu2Info">
                <img class="card-img-top img-fluid" id="screaminBruu2" src="../images/ScreaminBruu.jpg">
                    <div class="mask flex-center winter-neva-gradient">
                        <p class="white-text">
                            Un drôle de logo que j'ai fait pour mon copain sud-africain avec qui j'ai enseigné l'anglais en Chine.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <!-- Start Row 1-->
            <div class="card-title">
                Screamin' Bruu
            </div>
        </div>  
    </div>
    <!--End Screamin Bruu-->

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <!--Start Bernie-->
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="bernieInfo">
                <img class="card-img-top img-fluid" id="bernie" src="../images/Bernie2020.4.png">
                    <div class="mask flex-center winter-neva-gradient">
                        <p class="white-text">
                            Un joli logo de campagne que j'ai fait pour la campagne 2020 de Bernie Sanders.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Feel The Bern
            </div>
        </div>  
    </div>
    <!--End Bernie-->

    <!--Start SD Pano Column-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="sdCirclePanoInfo">
                <img class="card-img-top img-fluid" id="sdCirclePano" src="../images/CADowntownPanoBWPC.jpg">
                    <div class="mask flex-center winter-neva-gradient">
                        <p class="white-text">
                            Un beau panorama que j'ai pris du centre-ville emblématique de San Diego, puis je l'ai rendu circulaire.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Circular San Diego
            </div>
        </div>
        <!--End SD Pano Column-->  
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <!--Start Ginger Jayhawk-->
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="gingerJayhawkInfo">
                <img class="card-img-top img-fluid" id="gingerJayhawk" src="../images/StPattyJayhawkBetter.jpg">
                    <div class="mask flex-center winter-neva-gradient">
                        <p class="white-text">
                            La Saint-Patty était à l'horizon et j'ai donc décidé de jouer avec Photoshop et de créer un Jayhawk sur le thème de Saint-Patty.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Ginger Jayhawk
            </div>
        </div>  
    </div>
    <!--End Ginger Jayhawk-->
</div>
<!-- End Row 1-->

<!--Start Row T-Shirts-->
<div class="row third">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="adenauerPlatzInfo">
                <img class="card-img-top img-fluid" id="adenauerPlatz" src="../images/Adenauerplatz3.jpg">
                    <div class="mask flex-center winter-neva-gradient">
                        <p class="white-text">
                            "U-Bahn Series" chaque station de métro de Berlin. Celui-ci porte le nom d'un ancien chancelier allemand nommé Konrad Adenauer.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                W.A.C.
            </div>
        </div>  
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="berlinerStrasseInfo">
                <img class="card-img-top img-fluid" id="berlinerStrasse" src="../images/BerlinerStraße.jpg">
                    <div class="mask flex-center winter-neva-gradient">
                        <p class="white-text">
                            "U-Bahn Series" chaque station de métro de Berlin.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                "Ich bin ein Berliner"
            </div>
        </div>  
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="bismarckInfo">
                <img class="card-img-top img-fluid" id="bismarck" src="../images/BismarckStraße.jpg">
                    <div class="mask flex-center winter-neva-gradient">
                        <p class="white-text">
                            "U-Bahn Series" chaque station de métro de Berlin. Celui-ci porte le nom du premier chancelier de l'Allemagne unifiée Otto von Bismarck.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Otto von
            </div>
        </div>  
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="hermannPlatzInfo">
                <img class="card-img-top img-fluid" id="hermannPlatz" src="../images/Hermannplatz2.jpg">
                    <div class="mask flex-center winter-neva-gradient">
                        <p class="white-text">
                            "U-Bahn Series" chaque station de métro de Berlin. Cette gare a été la première à Berlin à proposer des escaliers mécaniques.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Hermann
            </div>
        </div>  
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="jannowitzInfo">
                <img class="card-img-top img-fluid" id="jannowitz" src="../images/Jannowitzbrücke.jpg">
                    <div class="mask flex-center winter-neva-gradient">
                        <p class="white-text">
                            "U-Bahn Series" chaque station de métro de Berlin. Cette station particulière est tellement cool avec tous ses murs de surligneur aux couleurs vives.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Jan.
            </div>
        </div>  
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="osloerInfo">
                <img class="card-img-top img-fluid" id="osloer" src="../images/OsloerStraßeShort.jpg">
                    <div class="mask flex-center winter-neva-gradient">
                        <p class="white-text">
                            "U-Bahn Series" chaque station de métro de Berlin. Une station emblématique inspirée du drapeau norvégien.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                fra Oslo
            </div>
        </div>  
    </div>
</div>
<!--End T-Shirt Row-->

<!--Start Row 3-->
<div class="row second" style="margin-bottom: 100px;">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <!--Start Despair-->
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="trumpDespairInfo">
                <img class="card-img-top img-fluid" id="trumpDespair" src="../images/TrumpDespair.jpg">
                    <div class="mask flex-center winter-neva-gradient">
                        <p class="white-text">
                            Un logo que j'ai rendu indicatif de l'image "Hope" d'Obama, mais avec le message inverse.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Despair
            </div>
        </div>  
    </div>
    <!--End Despair-->

    <!--Start Jayhawk Blitz-->
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="colorJayhawkInfo">
                <img class="card-img-top img-fluid" id="colorJayhawk" src="../images/KansasJayhawk2.jpg">
                    <div class="mask flex-center winter-neva-gradient">
                        <p class="white-text">
                            Un autre logo Jayhawk que j'ai fait parce que le cramoisi et le bleu sont tellement beaux!
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Jayhawk Blitz
            </div>
        </div>  
    </div>
    <!--End Jayhawk Blitz-->

    <!--Start WAC Column-->
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="WAClogoInfo">
                <img class="card-img-top img-fluid" id="WAClogo" src="../images/Logo2.jpg">
                    <div class="mask flex-center winter-neva-gradient">
                        <p class="white-text">
                            Un logo que j'ai fait en tant que photographe / designer d'un partenariat de modélisation précédent.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                W.A.C.
            </div>
        </div>  
    </div>
    <!--End WAC Column-->
</div>
<!-- End Row 3-->

<footer class="footer winter-neva-gradient">
    © Eric Willard
</footer>