<!--Start Nav-->
<nav class="navbar navbar-expand-md navbar-expand-lg navbar-expand-xl danger-color">
    <a class="navbar-brand" href="/homeCN">Eric Willard</a>

    <!-- Social Media Contact Links-->
    <ul class="navbar-collapse justify-content-start mr-auto list-inline">
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.linkedin.com/in/willarderic/">
                <img src="images/LinkedIn_Splash_Circle.png" alt="linkedin" class="linkedin" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.github.com/ewill20">
                <img src="images/gitHub_Icon_Circle.png" alt="github" class="github" style="height: 55px; width: 55px">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://stackoverflow.com/users/8011910/e-dub">
                <img src="images/stackOverflow_Icon_Circle.png" alt="StackOverflow" class="stackOverflow" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.500px.com/ewill20">
                <img src="images/500px_Icon_Splatter_Circle2.png" alt="500px" class="500px" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.viewbug.com/member/ewill">
                <img src="images/Viewbug_Splash_Circle.png" alt="Viewbug" class="Viewbug" style="height: 55px; width: 55px; display: inline-block; border-radius: 60px; box-shadow: 0px 0px 2px #888;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.instagram.com/ewill20">
                <img src="images/Instagram_Worldly_Splash.png" alt="Instagram" class="Instagram" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.youtube.com/c/EricWillard20">
                <img src="images/YouTube_Splash_Circle.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://my.indeed.com/p/ahe-0b0kbxs">
                <img src="images/Indeed_Circle.png" alt="Indeed" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://the-adaptive-traveler.herokuapp.com">
                <img src="images/TAT_Icon_Circle.png" alt="TAT" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.behance.net/ewill20">
                <img src="images/Behance_Icon_Splash.png" alt="Behance" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="http://www.visuallycheeky.com">
                <img src="images/Visually_Cheeky_Circle.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>

    <!--Dropdown for site navigation-->
<div class="dropdown">
    <button class="btn peach-gradient btn-lg dropdown-toggle" type="button" id="nav-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        网站导航
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/webPortCN">Web开发</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/experienceCN">经历</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/educationCN">教育</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/photoCN">摄影</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/skillsCN">技能</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/videoCN">视频</a>
        </li>
    </ul>
</div>
<!--End Dropdown Button-->

    <!-- Language Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/design"><span class="US"></span>
            <img src="images/US_Flag_Circle.png" alt="US" class="US" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/designDE"><span class="German"></span>
            <img src="images/deutsch_Icon_Circle.png" alt="German" class="German" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/designFR"><span class="France"></span>
            <img src="images/french_Icon_Circle.png" alt="French-Flag" class="French-Flag" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>
    <!-- Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/homeCN">
            <img src="images/home_Icon_Circle.png" alt="Home" class="Home" style="height: 55px; width: 55px;">
            </a>
            </li>
            <li class="nav-item list-inline-item">
            <a class="nav-link" href="/contactCN">
            <img src="images/email_Icon_Circle.png" alt="Contact" class="Contact" style="height: 55px; width: 55px;">
            </a>
        </li>
            <li class="nav-item list-inline-item">
            <a class="nav-link" href="/aboutCN">
            <img src="images/info_Icon.png" alt="About" class="About" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>
</nav>
<!--End Navbar-->

<!--Start Top Row-->
<div class="row top">
    <!--Start Screamin Bruu-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="screaminBruu2Info">
                <img class="card-img-top img-fluid" id="screaminBruu2" src="../images/ScreaminBruu.jpg">
                    <div class="mask flex-center danger-color">
                        <p class="white-text">
                            我为南非好友制作的一个有趣的徽标，在中国与我一起教英语。
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <!-- Start Row 1-->
            <div class="card-title">
                Screamin' Bruu
            </div>
        </div>  
    </div>
    <!--End Screamin Bruu-->

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <!--Start Bernie-->
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="bernieInfo">
                <img class="card-img-top img-fluid" id="bernie" src="../images/Bernie2020.4.png">
                    <div class="mask flex-center danger-color">
                        <p class="white-text">
                            我为伯尼·桑德斯（Bernie Sanders）2020年运动所做的漂亮运动标志
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Feel The Bern
            </div>
        </div>  
    </div>
    <!--End Bernie-->

    <!--Start SD Pano Column-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="sdCirclePanoInfo">
                <img class="card-img-top img-fluid" id="sdCirclePano" src="../images/CADowntownPanoBWPC.jpg">
                    <div class="mask flex-center danger-color">
                        <p class="white-text">
                            我拍摄了标志性的圣地亚哥市中心的美丽全景，然后使其变为圆形。
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Circular San Diego
            </div>
        </div>
        <!--End SD Pano Column-->  
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <!--Start Ginger Jayhawk-->
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="gingerJayhawkInfo">
                <img class="card-img-top img-fluid" id="gingerJayhawk" src="../images/StPattyJayhawkBetter.jpg">
                    <div class="mask flex-center danger-color">
                        <p class="white-text">
                            圣帕蒂节即将到来，所以我决定与Photoshop一起玩，制作一个以圣帕蒂为主题的Jayhawk。
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Ginger Jayhawk
            </div>
        </div>  
    </div>
    <!--End Ginger Jayhawk-->
</div>
<!-- End Row 1-->

<!--Start Row T-Shirts-->
<div class="row third">
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="adenauerPlatzInfo">
                <img class="card-img-top img-fluid" id="adenauerPlatz" src="../images/Adenauerplatz3.jpg">
                    <div class="mask flex-center danger-color">
                        <p class="white-text">
                            “ U-Bahn系列”是柏林的每个地铁站。 该名称以西德第一位德国总理康拉德·阿登纳（Konrad Adenauer）的名字命名。
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                W.A.C.
            </div>
        </div>  
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="berlinerStrasseInfo">
                <img class="card-img-top img-fluid" id="berlinerStrasse" src="../images/BerlinerStraße.jpg">
                    <div class="mask flex-center danger-color">
                        <p class="white-text">
                            “ U-Bahn系列”是柏林的每个地铁站。
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                "Ich bin ein Berliner"
            </div>
        </div>  
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="bismarckInfo">
                <img class="card-img-top img-fluid" id="bismarck" src="../images/BismarckStraße.jpg">
                    <div class="mask flex-center danger-color">
                        <p class="white-text">
                            “ U-Bahn系列”是柏林的每个地铁站。 这个名字以统一的德国奥托·冯·s斯麦的第一任总理命名。
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Otto von
            </div>
        </div>  
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="hermannPlatzInfo">
                <img class="card-img-top img-fluid" id="hermannPlatz" src="../images/Hermannplatz2.jpg">
                    <div class="mask flex-center danger-color">
                        <p class="white-text">
                            “ U-Bahn系列”是柏林的每个地铁站。 这个特殊的车站是柏林第一个设有自动扶梯的车站。
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Hermann
            </div>
        </div>  
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="jannowitzInfo">
                <img class="card-img-top img-fluid" id="jannowitz" src="../images/Jannowitzbrücke.jpg">
                    <div class="mask flex-center danger-color">
                        <p class="white-text">
                            “ U-Bahn系列”是柏林的每个地铁站。 这个特定的电台非常酷，其所有鲜艳的荧光笔色的墙壁都如此。
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Jan.
            </div>
        </div>  
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="osloerInfo">
                <img class="card-img-top img-fluid" id="osloer" src="../images/OsloerStraßeShort.jpg">
                    <div class="mask flex-center danger-color">
                        <p class="white-text">
                            “ U-Bahn系列”是柏林的每个地铁站。 以挪威国旗为原型的标志性车站。
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                fra Oslo
            </div>
        </div>  
    </div>
</div>
<!--End T-Shirt Row-->

<!--Start Row 3-->
<div class="row second" style="margin-bottom: 100px;">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <!--Start Despair-->
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="trumpDespairInfo">
                <img class="card-img-top img-fluid" id="trumpDespair" src="../images/TrumpDespair.jpg">
                    <div class="mask flex-center danger-color">
                        <p class="white-text">
                            我制作的徽标表示奥巴马的“希望”形象，但带有相反的信息。
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Despair
            </div>
        </div>  
    </div>
    <!--End Despair-->

    <!--Start Jayhawk Blitz-->
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="colorJayhawkInfo">
                <img class="card-img-top img-fluid" id="colorJayhawk" src="../images/KansasJayhawk2.jpg">
                    <div class="mask flex-center danger-color">
                        <p class="white-text">
                            我制作的另一个Jayhawk徽标是因为深红色和蓝色是如此的漂亮！
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Jayhawk Blitz
            </div>
        </div>  
    </div>
    <!--End Jayhawk Blitz-->

    <!--Start WAC Column-->
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover description-->
            <div class="view overlay" id="WAClogoInfo">
                <img class="card-img-top img-fluid" id="WAClogo" src="../images/Logo2.jpg">
                    <div class="mask flex-center danger-color">
                        <p class="white-text">
                            我作为以前的建模合作伙伴的摄影师/设计师制作的徽标。
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                W.A.C.
            </div>
        </div>  
    </div>
    <!--End WAC Column-->
</div>
<!-- End Row 3-->

<footer class="footer danger-color">
    © Eric Willard
</footer>