<!--Start Nav-->
<nav class="navbar navbar-expand-md navbar-expand-lg navbar-expand-xl blue-gradient-rgba">
    <a class="navbar-brand" href="/home">Eric Willard</a>

    <!-- Social Media Contact Links-->
    <ul class="navbar-collapse justify-content-start mr-auto list-inline">
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.linkedin.com/in/willarderic/">
                <img src="images/LinkedIn_Splash_Circle.png" alt="linkedin" class="linkedin" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.github.com/ewill20">
                <img src="images/gitHub_Icon_Circle.png" alt="github" class="github" style="height: 55px; width: 55px">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://stackoverflow.com/users/8011910/e-dub">
                <img src="images/stackOverflow_Icon_Circle.png" alt="StackOverflow" class="stackOverflow" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.500px.com/ewill20">
                <img src="images/500px_Icon_Splatter_Circle2.png" alt="500px" class="500px" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.viewbug.com/member/ewill">
                <img src="images/Viewbug_Splash_Circle.png" alt="Viewbug" class="Viewbug" style="height: 55px; width: 55px; display: inline-block; border-radius: 60px; box-shadow: 0px 0px 2px #888;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.instagram.com/ewill20">
                <img src="images/Instagram_Worldly_Splash.png" alt="Instagram" class="Instagram" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.youtube.com/c/EricWillard20">
                <img src="images/YouTube_Splash_Circle.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://my.indeed.com/p/ahe-0b0kbxs">
                <img src="images/Indeed_Circle.png" alt="Indeed" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://the-adaptive-traveler.herokuapp.com">
                <img src="images/TAT_Icon_Circle.png" alt="TAT" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.behance.net/ewill20">
                <img src="images/Behance_Icon_Splash.png" alt="Behance" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="http://www.visuallycheeky.com">
                <img src="images/Visually_Cheeky_Circle.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>

<!--Dropdown for site navigation-->
<div class="dropdown">
    <button class="btn btn-danger btn-lg dropdown-toggle" type="button" id="nav-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Site Navigation
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/webPort">Web Development</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/experience">Experience</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/design">Design</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/photo">Photography</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/skills">Skills</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/video">Video</a>
        </li>
    </ul>
</div>
<!--End Dropdown Button-->

    <!-- Language Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/educationCN"><span class="China"></span>
            <img src="images/chinese_Icon_Circle.png" alt="chinese-flag" class="China-flag" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/educationDE"><span class="German"></span>
            <img src="images/deutsch_Icon_Circle.png" alt="German" class="German" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/educationFR"><span class="France"></span>
            <img src="images/french_Icon_Circle.png" alt="French-Flag" class="French-Flag" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>
    <!-- Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/home">
            <img src="images/home_Icon_Circle.png" alt="Home" class="Home" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/contact">
            <img src="images/email_Icon_Circle.png" alt="Contact" class="Contact" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/about">
            <img src="images/info_Icon.png" alt="About" class="About" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>
    <!-- End Nav & lang links-->
</nav>
<!--End Navbar-->

<!--Education History Panels-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <!--Left Column Panel-->
            <!--Kansas University-->
            <div class="card" style="max-width: 100%; max-height:100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/jayhawklogo.jpg">
                    <div class="card-title">
                        Kansas University
                    </div>
                        <div class="card-body">
                            <ul style="list-style-type:disc;">
                                <li>Bachelor of Science - Full-Stack Web Development/Web Design</li>
                                <li>June 2017-May 2018</li>
                                <li>My bachelor’s obtained at KU built on my past experience in design while vastly improving my skills in full-stack web development.  I was able to transfer a significant amount of credits from previous universities in order to obtain a bachelor’s in an accelerated manner. </li>
                            <ul>
                        </div>    
            </div>    
        </div>
        <!--End KU Panel-->

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">

            <!--Middle Column Panel-->
            <!--Start UCSD Panel-->
            <div class="card" style="max-width: 100%; max-height:100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" id="ucsdlogo" src="../images/UCSD-logo.png">
                    <div class="card-title">
                        University of California San Diego
                    </div>
                        <div class="card-body">
                            <ul style="list-style-type:disc;">
                                <li>Bachelor of Arts - Political Science/International Relations</li>
                                <li>September 2012-August 2014</li>
                                <li>My studies at UCSD consisted heavily of languages, history, and politics.  I studied German and French throughout my tenure at UCSD while also obtaining a minor certification in international relations.</li>
                                </ul>
                        </div>        
            </div>
        </div>    
        <!--End UCSD Panel-->

    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">

        <!--Right Column Panel-->
        <!--Start Fullerton College Panel-->
        <div class="card" style="max-width: 100%; max-height:100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" id="fullcolllogo" src="../images/fullcolllogo.jpg">
                    <div class="card-title">
                        Fullerton College
                    </div>    
                        <div class="card-body">
                            <ul style="list-style-type:disc;">
                                <li>Associate in Arts in Film/Television</li>
                                <li>January 2009-May 2012</li>
                                <li>At Fullerton College I was proud to obtain both President's List and Dean's list status during 2/3 of my studies at the institution.  I majored in Film, but also studied German, French, and Spanish as well as single-handedly produce a video to promote the Study Abroad Department.  In consecutive years I studied both in Paris, France and Berlin, Germany which bolstered my language skills in addition to providing me with a better understanding of foreign culture.</li>  
                                </ul>
                        </div>    
        </div>
    </div>
        <!--End Fullerton College Panel-->



<footer class="footer blue-gradient-rgba">
    © Eric Willard
</footer>