<!--Start Nav-->
<nav class="navbar navbar-expand-md navbar-expand-lg navbar-expand-xl winter-neva-gradient">
    <a class="navbar-brand" href="/homeFR">Eric Willard</a>

    <!-- Social Media Contact Links-->
    <ul class="navbar-collapse justify-content-start mr-auto list-inline">
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.linkedin.com/in/willarderic/">
                <img src="images/linkedin.png" alt="linkedin" class="linkedin" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.github.com/ewill20">
                <img src="images/githubicon.png" alt="github" class="github" style="height: 55px; width: 55px">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://stackoverflow.com/users/8011910/e-dub">
                <img src="images/stackOverflow.png" alt="StackOverflow" class="stackOverflow" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.500px.com/ewill20">
                <img src="images/500px.png" alt="500px" class="500px" style="height: 60px; width: 60px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.viewbug.com/member/ewill">
                <img src="images/viewbug.jpg" alt="Viewbug" class="Viewbug" style="height: 55px; width: 55px; display: inline-block; border-radius: 60px; box-shadow: 0px 0px 2px #888;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.instagram.com/ewill20">
                <img src="images/InstagramNew.png" alt="Instagram" class="Instagram" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.youtube.com/channel/UCJ75p4PUoM-ZbQvO5B-iZ7w?view_as=subscriber">
                <img src="images/YouTube-icon.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>

    <!--Dropdown for site navigation-->
<div class="dropdown">
    <button class="btn winter-neva-gradient btn-lg dropdown-toggle" type="button" id="nav-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Nav sur le Site
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/webPortFR">Projets</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/educationFR">Éducation</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/designFR">Le Désign</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/photoFR">La Photographie</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/skillsFR">Compétences</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/videoFR">Vidéo</a>
        </li>
    </ul>
</div>
<!--End Dropdown Button-->

    <!-- Language Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/experience"><span class="flag-icon flag-icon-us"></span></a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/experienceCN"><span class="flag-icon flag-icon-cn"></span></a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/experienceDE"><span class="flag-icon flag-icon-de"></span></a>
        </li>
    </ul>
    <!-- Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-inline-item">
            <a class="nav-link glyphicon glyphicon-home" href="/homeFR"></a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link glyphicon glyphicon-envelope" href="/contactFR"></a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link glyphicon glyphicon-book" href="/aboutFR"></a>
        </li>
    </ul>
    <!-- End Nav & lang links-->
</nav>
<!--End Navbar-->

<!--Start Top Row-->
<div class="container-fluid" style="height: auto">
    <div class="row">

        <!--Start EWPhotography Panel-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
                <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/EWPhotography.gif">
                <div class="card-title experience-title">
                    Eric Willard Photographie
                </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">Inhaber Betreiber - Designer / Fotograf / Videograf</li>
                        <li style="font-size: 23px;">Septembre 2014 - Présent</li>
                        <li id="experience-body">Korreliert mit den Verbrauchern hinsichtlich ihrer Foto-, Design- und Videoanforderungen, um ihnen ein Medienprodukt von höchster Qualität zu bieten. Ich nahm Bestellungen entgegen, kommunizierte mit dem Kunden über seine Bedürfnisse,
                            plante den entsprechenden Ausflug, um diese Bedürfnisse zu befriedigen, et versorgte ihn anschließend im Alleingang mit dem gewünschten Produkt.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End EWPhotography Panel-->

        <!--Start ZJUT Panel-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
                <img class="card-img-top img-fluid" id="zjutlogo" src="../images/zjutlogo.png">
                    <div class="card-title">
                        Technische UnUniversité de technologie du Zhejiang
                    </div>
                        <div class="card-body">
                            <ul style="list-style-type:disc;">
                                <li style="font-style: italic;">Professeur de développement Web et d'anglais</li>
                                <li style="font-size: 23px;">Avril 2018-Mai 2019</li>
                                <li id="experience-body">Au total, j'ai enseigné à 160 étudiants les bases du développement web en anglais. Les langues couvertes étaient principalement HTML5, CSS3, Javascript et JQuery. Il était important pour les étudiants d'apprendre à la fois le codage et les connaissances de base de l'anglais, car vous ne pouvez pas coder en chinois.
                                </li>
                            </ul>
                        </div>
            </div>
        </div>
        <!--End Zhejiang University Panel-->

        <!--Start KU Panel-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
                <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/jayhawklogo.jpg">
                    <div class="card-title">
                        Université de Kansas
                    </div>
                        <div class="card-body">
                            <ul style="list-style-type:disc;">
                                <li style="font-style: italic;">Étudiant - programme de développement web full stack</li>
                                <li style="font-size: 23px;">Juin 2017-Mai 2018</li>
                                <li id="experience-body">Ce programme comprenait environ 52 semaines au cours desquelles les bases du développement Web en pile complète ont été apprises. Au cours du cours, les étudiants ont construit sur ce qu'ils avaient appris et nos projets sont devenus de plus en plus complexes. En plus d'un programme de programmation régulier, nous avions déjà réalisé plusieurs projets individuels et collectifs avant la fin du cours afin d'acquérir une expérience pratique.
                                </li>
                            </ul>
                        </div>
            </div>
        </div>
        <!--End KU Panel-->
    </div>
    <!--Start Second Row-->
<div class="row">
    <!--Start KU Panel-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
            <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/jayhawklogo.jpg">
            <div class="card-title experience-title">
                    Université de Kansas
                </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">Étudiant en informatique - Développement Web / Conception Web</li>
                        <li style="font-size: 23px;">Juin 2017-Avril 2018</li>
                        <li id="experience-body">Mon baccalauréat obtenu à KU s'appuie sur mon expérience passée dans la conception tout en améliorant considérablement mes compétences en développement Web complet. J'ai pu transférer une quantité importante de crédits des universités précédentes afin d'obtenir un baccalauréat de manière accélérée.
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    <!--End KU Panel-->

    <!--Start Shinyway Panel-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
            <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/shinyway.jpeg">
            <div class="card-title experience-title">
                    Shinyway International (新通外语)
            </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">Instructeur - École préparatoire à l'entrée à l'Université</li>
                        <li style="font-size: 23px;">Juin 2015 - Janjuar 2017</li>
                        <li id="experience-body">
                            J'ai préparé des diplômés du secondaire et du collège pour l'examen d'anglais IELTS afin qu'ils puissent poursuivre leurs études dans une université anglophone à l'étranger.
                            J'ai donné des cours de deux heures et je devais créer un contenu intéressant et efficace pour la classe afin que les étudiants puissent devenir des anglophones plus compétents.
                            J'ai également été chargé d'enseigner aux étudiants VIP (en tête-à-tête) la prise de parole en public, l'histoire américaine, la culture du Commonwealth britannique, l'appréciation de la littérature et l'anglais oral. 
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    <!--End Shinyway Panel-->

    <!--Start FullColl Panel-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
            <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/fullcolllogo.jpg">
            <div class="card-title experience-title">
                    Fullerton Collège
            </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">Vidéaste, producteur, monteur</li>
                        <li style="font-size: 23px;">Janvier 2011 - août 2011</li>
                        <li id="experience-body">
                            J'ai écrit, produit et monté une vidéo documentant le programme d'études à l'étranger au printemps 2011 à Berlin.
                            La vidéo visait à aider d'autres étudiants à comprendre les avantages d'étudier dans un pays étranger et a été produite à 98% par moi-même avec des images supplémentaires provenant d'autres étudiants. 
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    <!--End FullColl Panel-->

    <!--Start WellsFargo Panel-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
            <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/Wells-Fargo-Logo.png">
            <div class="card-title experience-title">
                    Wells Fargo Banque
            </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">Banquier personnel</li>
                        <li style="font-size: 23px;">Juillet 2007 - Décembre 2010</li>
                        <li id="experience-body">
                            En tant que banquier personnel, j'étais responsable du service des comptes des clients, de leur fournir des produits pour répondre à leurs besoins, ainsi que de la prospection de nouveaux clients en appelant à froid les clients potentiels et existants.
                            J'étais autorisé à vendre des assurances, des hypothèques de service et à vendre / entretenir une variété d'autres produits financiers. 
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    <!--End WellsFargo Panel-->
</div>
<!--End Second Row-->
</div>
<footer class="footer winter-neva-gradient">
    © 2020 Eric Willard
</footer>