<!--Start Nav-->
<nav class="navbar navbar-expand-md navbar-expand-lg navbar-expand-xl danger-color">
    <a class="navbar-brand" href="/homeCN">艾瑞克</a>

    <!-- Social Media Contact Links-->
    <ul class="navbar-collapse justify-content-start mr-auto list-inline">
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.linkedin.com/in/willarderic/">
                <img src="images/LinkedIn_Splash_Circle.png" alt="linkedin" class="linkedin" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.github.com/ewill20">
                <img src="images/gitHub_Icon_Circle.png" alt="github" class="github" style="height: 55px; width: 55px">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://stackoverflow.com/users/8011910/e-dub">
                <img src="images/stackOverflow_Icon_Circle.png" alt="StackOverflow" class="stackOverflow" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.500px.com/ewill20">
                <img src="images/500px_Icon_Splatter_Circle2.png" alt="500px" class="500px" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.viewbug.com/member/ewill">
                <img src="images/Viewbug_Splash_Circle.png" alt="Viewbug" class="Viewbug" style="height: 55px; width: 55px; display: inline-block; border-radius: 60px; box-shadow: 0px 0px 2px #888;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.instagram.com/ewill20">
                <img src="images/Instagram_Worldly_Splash.png" alt="Instagram" class="Instagram" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.youtube.com/c/EricWillard20">
                <img src="images/YouTube_Splash_Circle.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://my.indeed.com/p/ahe-0b0kbxs">
                <img src="images/Indeed_Circle.png" alt="Indeed" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://the-adaptive-traveler.herokuapp.com">
                <img src="images/TAT_Icon_Circle.png" alt="TAT" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.behance.net/ewill20">
                <img src="images/Behance_Icon_Splash.png" alt="Behance" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="http://www.visuallycheeky.com">
                <img src="images/Visually_Cheeky_Circle.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>

<!--Dropdown for site navigation-->
<div class="dropdown">
    <button class="btn peach-gradient btn-lg dropdown-toggle" type="button" id="nav-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        网站导航
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/webPortCN">Web开发</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/educationCN">教育</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/designCN">设计</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/travelCN">旅行</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/photoCN">摄影</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/skillsCN">技能</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/videoCN">视频</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/langCN">语言</a>
        </li>
    </ul>
</div>
<!--End Dropdown Button-->

    <!-- Language Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/experience"><span class="US"></span>
            <img src="images/US_Flag_Circle.png" alt="US" class="US" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/experienceDE"><span class="German"></span>
            <img src="images/deutsch_Icon_Circle.png" alt="German" class="German" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/experienceFR"><span class="France"></span>
            <img src="images/french_Icon_Circle.png" alt="French-Flag" class="French-Flag" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>
    <!-- Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/homeCN">
            <img src="images/home_Icon_Circle.png" alt="Home" class="Home" style="height: 55px; width: 55px;">
            </a>
            </li>
            <li class="nav-item list-inline-item">
            <a class="nav-link" href="/contactCN">
            <img src="images/email_Icon_Circle.png" alt="Contact" class="Contact" style="height: 55px; width: 55px;">
            </a>
        </li>
            <li class="nav-item list-inline-item">
            <a class="nav-link" href="/aboutCN">
            <img src="images/info_Icon.png" alt="About" class="About" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>
    <!-- End Nav & lang links-->
</nav>
<!--End Navbar-->

<!--Start Top Row-->
<div class="container-fluid" style="height: auto;">
    <div class="row">

        <!--Start XCTC Panel-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
                <img class="card-img-top img-fluid" id="ravenswoodLogo" src="../images/ravenswoodLogo.png">
                <div class="card-title experience-title">
                    XCTC - Ravenswood Solutions - Army National Guard
                </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">技术总监/视频切换操作员</li>
                        <li style="font-size: 23px;">2020年6月-现在 (持续合约头寸)</li>
                        <li id="experience-body">我负责生产和执行在军事基地进行的野战演练的高质量多媒体产品。 作为VTHP-Operator，我的职位要求除担任技术总监外，我还要记录事后回顾（AAR）。 该职位要求利用视频开关来提高效率，了解不同的电缆连接，以及动态决策以确保产品质量。
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End XCTC Panel-->

        <!--Start EWPhotography Panel-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
                <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/EWPhotography.gif">
                <div class="card-title experience-title">
                    Eric Willard Photography & Design
                </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">业主运营商-设计师/摄影师/摄像师</li>
                        <li style="font-size: 23px;">2014年9月至今</li>
                        <li id="experience-body">与消费者的照片，设计和视频需求相关联，以便为他们提供最高质量的媒体产品。 
                            我会下订单，与客户沟通他们的需求，安排合适的郊游以满足这些需求，然后单手为他们提供所需的产品。
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End KU Panel-->

        <!--Start ZJUT Panel-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
                <img class="card-img-top img-fluid" id="zjutlogo" src="../images/zjutlogo.png">
                <div class="card-title experience-title">
                    浙江工业大学
                </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">教授-网站开发和英语</li>
                        <li style="font-size: 23px;">2018年5月至2019年5月</li>
                        <li id="experience-body">我总共向160名大学生教授了英语网络开发基础知识。 
                            涵盖的语言主要是HTML5，CSS3，Javascript和JQuery。 对学生来说，同时学习英语的编码和技能很重要，因为一个人不能用中文编码。
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End Zhejiang University Panel-->

        <!--Start Wisdom Panel-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
                <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/wisdomLogo.jpg">
                <div class="card-title experience-title">
                    维思得英语
                </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">英语老师</li>
                        <li style="font-size: 23px;">2018年6月-2019年5月</li>
                        <li id="experience-body">在我担任ZJUT教授期间，我还为“智慧”工作了22个周末，在那里我的大多数学生年龄在8-14岁之间，我教给他们我制作的个性化课程
                            根据雇主规定的课程。 周末我教了200多名学生英语。
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End Wisdom Panel-->
    </div>
<!--End Top Row-->

<!--Start Second Row-->
<div class="row">
    <!--Start KU Panel-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
            <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/jayhawklogo.jpg">
            <div class="card-title experience-title">
                    堪萨斯大学
                </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">计算机科学专业学生-网站开发/网站设计</li>
                        <li style="font-size: 23px;">2017年6月至2018年4月</li>
                        <li id="experience-body">我在KU获得的学士学位是基于我过去的设计经验，同时极大地提高了我在全栈Web开发中的技能。
                            我能够从以前的大学中转移大量的学分，以便以更快的方式获得学士学位。
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    <!--End KU Panel-->

    <!--Start Shinyway Panel-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
            <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/shinyway.jpeg">
            <div class="card-title experience-title">
                新通外语
            </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">指导老师-大学入学预备学校</li>
                        <li style="font-size: 23px;">2015年6月-2017年1月</li>
                        <li id="experience-body">我为高中和大学毕业生准备了雅思英语考试，以便他们可以在国外的英语大学进修。
                            我教了两个小时的课程，被要求为课堂创建有趣而有效的内容，以便学生变得更加精通英语。
                            我还负责教VIP学生（一对一）有关公共演讲，美国历史，英联邦文化，文学欣赏和英语口语的知识。 
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    <!--End Shinyway Panel-->

    <!--Start FullColl Panel-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
            <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/fullcolllogo.jpg">
            <div class="card-title experience-title">
                富乐顿学院
            </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">摄像师，制片人，编辑</li>
                        <li style="font-size: 23px;">2011年1月-2011年8月</li>
                        <li id="experience-body">我撰写，制作和编辑了一段录像，记录了2011年春季柏林的留学计划。
                            该视频是为了帮助其他学生了解在国外学习的好处，该视频由我本人制作，其中98％来自其他学生。 
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    <!--End FullColl Panel-->

    <!--Start WellsFargo Panel-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
            <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/Wells-Fargo-Logo.png">
            <div class="card-title experience-title">
                    富国银行
            </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">个人银行家</li>
                        <li style="font-size: 23px;">2007年7月-2010年12月</li>
                        <li id="experience-body">
                            作为个人银行家，我负责为客户的帐户提供服务，向他们提供满足其需求的产品，并通过冷拨潜在客户和现有客户来寻找新客户。
                            我获得了销售保险，服务抵押以及销售/服务各种其他金融产品的许可。 
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    <!--End WellsFargo Panel-->
</div>
<!--End Second Row-->
</div>
<footer class="footer danger-color">
    © 2020 艾瑞克
</footer>