<!--Start Nav-->
<nav class="navbar navbar-expand-md navbar-expand-lg navbar-expand-xl sunny-morning-gradient">
    <a class="navbar-brand" href="/homeDE">Eric Willard</a>

    <!-- Social Media Contact Links-->
    <ul class="navbar-collapse justify-content-start mr-auto list-inline">
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.linkedin.com/in/willarderic/">
                <img src="images/LinkedIn_Splash_Circle.png" alt="linkedin" class="linkedin" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.github.com/ewill20">
                <img src="images/gitHub_Icon_Circle.png" alt="github" class="github" style="height: 55px; width: 55px">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://stackoverflow.com/users/8011910/e-dub">
                <img src="images/stackOverflow_Icon_Circle.png" alt="StackOverflow" class="stackOverflow" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.500px.com/ewill20">
                <img src="images/500px_Icon_Splatter_Circle2.png" alt="500px" class="500px" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.viewbug.com/member/ewill">
                <img src="images/Viewbug_Splash_Circle.png" alt="Viewbug" class="Viewbug" style="height: 55px; width: 55px; display: inline-block; border-radius: 60px; box-shadow: 0px 0px 2px #888;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.instagram.com/ewill20">
                <img src="images/Instagram_Worldly_Splash.png" alt="Instagram" class="Instagram" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.youtube.com/c/EricWillard20">
                <img src="images/YouTube_Splash_Circle.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://my.indeed.com/p/ahe-0b0kbxs">
                <img src="images/Indeed_Circle.png" alt="Indeed" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://the-adaptive-traveler.herokuapp.com">
                <img src="images/TAT_Icon_Circle.png" alt="TAT" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.behance.net/ewill20">
                <img src="images/Behance_Icon_Splash.png" alt="Behance" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="http://www.visuallycheeky.com">
                <img src="images/Visually_Cheeky_Circle.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>

<!--Dropdown for site navigation-->
<div class="dropdown">
    <button class="btn btn-dark btn-large dropdown-toggle" type="button" id="nav-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Seitennavigation
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/webPortDE">Webentwicklung</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/educationDE">Ausbildung</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/designDE">das Design</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/photoDE">Fotographie</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/skillsDE">Fähigkeiten</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/videoDE">Video</a>
        </li>
    </ul>
</div>
<!--End Dropdown Button-->

    <!-- Language Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/experience"><span class="flag-icon flag-icon-us"></span></a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/experienceCN"><span class="flag-icon flag-icon-cn"></span></a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/experienceFR"><span class="flag-icon flag-icon-fr"></span></a>
        </li>
    </ul>
    <!-- Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/homeDE">
            <img src="images/home_Icon_Circle.png" alt="Home" class="Home" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/contactDE">
            <img src="images/email_Icon_Circle.png" alt="Contact" class="Contact" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/aboutDE">
            <img src="images/info_Icon.png" alt="About" class="About" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>
    <!-- End Nav & lang links-->
</nav>
<!--End Navbar-->

<!--Start Top Row-->
<div class="container-fluid" style="height: auto">
    <div class="row">

        <!--Start EWPhotography Panel-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
                <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/EWPhotography.gif">
                <div class="card-title experience-title">
                    Eric Willard Fotographie
                </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">Inhaber Betreiber - Designer / Fotograf / Videograf</li>
                        <li style="font-size: 23px;">September 2014 - Aktuell</li>
                        <li id="experience-body">Korreliert mit den Verbrauchern hinsichtlich ihrer Foto-, Design- und Videoanforderungen, um ihnen ein Medienprodukt von höchster Qualität zu bieten. Ich nahm Bestellungen entgegen, kommunizierte mit dem Kunden über seine Bedürfnisse,
                            plante den entsprechenden Ausflug, um diese Bedürfnisse zu befriedigen, und versorgte ihn anschließend im Alleingang mit dem gewünschten Produkt.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End EWPhotography Panel-->

        <!--Start ZJUT Panel-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
                <img class="card-img-top img-fluid" id="zjutlogo" src="../images/zjutlogo.png">
                    <div class="card-title">
                        Technische Universität von Zhejiang/浙江工业大学
                    </div>
                        <div class="card-body">
                            <ul style="list-style-type:disc;">
                                <li style="font-style: italic;">Professor für Englisch und Webentwicklung</li>
                                <li style="font-size: 23px;">April 2018 - Mai 2019</li>
                                <li id="experience-body">Insgesamt habe ich 160 Studenten die Grundlagen der Webentwicklung auf Englisch beigebracht. Die behandelten Sprachen waren hauptsächlich HTML5, CSS3, Javascript und JQuery. Für die Schüler war es wichtig, gleichzeitig sowohl das Kodieren als auch die Grundkenntnisse des Englischen zu erlernen, da man nicht auf Chinesisch kodieren kann.
                                </li>
                            </ul>
                        </div>
            </div>
        </div>
        <!--End Zhejiang University Panel-->

        <!--Start KU Panel-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
                <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/wisdomLogo.jpg">
                    <div class="card-title">
                        Wisdom Englisch Schule
                    </div>
                        <div class="card-body">
                            <ul style="list-style-type:disc;">
                                <li style="font-style: italic;">Englischlehrer</li>
                                <li style="font-size: 23px;">Juni 2018-Mai 2019</li>
                                <li id="experience-body">Während meiner Professur an der ZJUT arbeitete ich auch 22-Stunden-Wochenenden für "Wisdom", wo die meisten meiner Schüler zwischen 8 und 14 Jahre alt waren, und ich unterrichtete sie in personalisierten Klassen, die ich gemacht habe
                                    gemäß dem vom Arbeitgeber festgelegten Lehrplan. Ich habe am Wochenende über 200 Schülern Englisch beigebracht.
                                </li>
                            </ul>
                        </div>
            </div>
        </div>
        <!--End KU Panel-->
    </div>
    <!--Start Second Row-->
<div class="row">
    <!--Start KU Panel-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
            <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/jayhawklogo.jpg">
            <div class="card-title experience-title">
                    Universität von Kansas
                </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">Student der Informatik - Webentwicklung / Webdesign</li>
                        <li style="font-size: 23px;">Juni 2017-April 2018</li>
                        <li id="experience-body">Mein Bachelor-Abschluss an der KU basiert auf meinen bisherigen Erfahrungen im Bereich Design und hat meine Fähigkeiten in der Full-Stack-Webentwicklung erheblich verbessert. Ich konnte eine beträchtliche Anzahl von Credits von früheren Universitäten übertragen, um schneller einen Bachelor zu erhalten.
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    <!--End KU Panel-->

    <!--Start Shinyway Panel-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
            <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/shinyway.jpeg">
            <div class="card-title experience-title">
                    Shinyway International (新通外语)
            </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">Ausbilder - Vorbereitungsschule für den Hochschulzugang</li>
                        <li style="font-size: 23px;">Juin 2015 - Janjuar 2017</li>
                        <li id="experience-body">
                            Ich habe Abiturienten und Hochschulabsolventen auf die IELTS-Englischprüfung vorbereitet, damit sie sich an einer englischsprachigen Universität im Ausland weiterbilden können.
                            Ich unterrichtete zweistündige Kurse und musste interessante und effektive Inhalte für den Unterricht erstellen, damit die Schüler kompetenter Englisch sprechen konnten.
                            Ich wurde auch beauftragt, VIP-Studenten (Einzelgespräche) über öffentliches Sprechen, amerikanische Geschichte, britische Commonwealth-Kultur, Literaturanerkennung und mündliches Englisch zu unterrichten. 
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    <!--End Shinyway Panel-->

    <!--Start FullColl Panel-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
            <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/fullcolllogo.jpg">
            <div class="card-title experience-title">
                    Fullerton Hochschule
            </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">Videograf, Produzent, Herausgeber</li>
                        <li style="font-size: 23px;">Januar 2011 - August 2011</li>
                        <li id="experience-body">
                            Ich habe ein Video geschrieben, produziert und bearbeitet, das das Auslandsstudienprogramm im Frühjahr 2011 in Berlin dokumentiert.
                            Das Video sollte anderen Studenten helfen, die Vorteile eines Studiums im Ausland zu verstehen. Es wurde zu 98% von mir selbst produziert und enthält ergänzendes Filmmaterial von anderen Studenten. 
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    <!--End FullColl Panel-->

    <!--Start WellsFargo Panel-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
            <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/Wells-Fargo-Logo.png">
            <div class="card-title experience-title">
                    Wells Fargo Bank
            </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">Persönlicher Bankier</li>
                        <li style="font-size: 23px;">Juli 2007 - Dezember 2010</li>
                        <li id="experience-body">
                            Als persönlicher Bankier war ich verantwortlich für die Verwaltung der Kundenkonten, die Bereitstellung von Produkten für ihre Bedürfnisse sowie die Suche nach neuen Kunden durch Kaltanruf bei potenziellen und bestehenden Kunden.
                            Ich hatte die Lizenz, Versicherungen zu verkaufen, Hypotheken zu bedienen und eine Vielzahl anderer Finanzprodukte zu verkaufen / zu warten. 
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    <!--End WellsFargo Panel-->
</div>
<!--End Second Row-->
</div>
<footer class="footer sunny-morning-gradient">
    © 2020 Eric Willard
</footer>