<!--Start Nav-->
<nav class="navbar navbar-expand-md navbar-expand-lg navbar-expand-xl winter-neva-gradient">
    <a class="navbar-brand" href="/homeFR">Eric Willard</a>

    <!-- Social Media Contact Links-->
    <ul class="navbar-collapse justify-content-start mr-auto list-inline">
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.linkedin.com/in/willarderic/">
                <img src="images/LinkedIn_Splash_Circle.png" alt="linkedin" class="linkedin" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.github.com/ewill20">
                <img src="images/gitHub_Icon_Circle.png" alt="github" class="github" style="height: 55px; width: 55px">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://stackoverflow.com/users/8011910/e-dub">
                <img src="images/stackOverflow_Icon_Circle.png" alt="StackOverflow" class="stackOverflow" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.500px.com/ewill20">
                <img src="images/500px_Icon_Splatter_Circle2.png" alt="500px" class="500px" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.viewbug.com/member/ewill">
                <img src="images/Viewbug_Splash_Circle.png" alt="Viewbug" class="Viewbug" style="height: 55px; width: 55px; display: inline-block; border-radius: 60px; box-shadow: 0px 0px 2px #888;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.instagram.com/ewill20">
                <img src="images/Instagram_Worldly_Splash.png" alt="Instagram" class="Instagram" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.youtube.com/c/EricWillard20">
                <img src="images/YouTube_Splash_Circle.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://my.indeed.com/p/ahe-0b0kbxs">
                <img src="images/Indeed_Circle.png" alt="Indeed" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://the-adaptive-traveler.herokuapp.com">
                <img src="images/TAT_Icon_Circle.png" alt="TAT" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.behance.net/ewill20">
                <img src="images/Behance_Icon_Splash.png" alt="Behance" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="http://www.visuallycheeky.com">
                <img src="images/Visually_Cheeky_Circle.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>

<!--Dropdown for site navigation-->
<div class="dropdown">
    <button class="btn winter-neva-gradient btn-lg dropdown-toggle" type="button" id="nav-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Nav sur le Site
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/webPortFR">Développement Web</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/educationFR">Éducation</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/designFR">Le Désign</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/travelFR">Voyage</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/photoFR">La Photographie</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/skillsFR">Compétences</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/videoFR">Vidéo</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/langFR">Les Langues</a>
        </li>
    </ul>
</div>
<!--End Dropdown Button-->

    <!-- Language Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/experience"><span class="US"></span>
            <img src="images/US_Flag_Circle.png" alt="US" class="US" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/experienceCN"><span class="China"></span>
            <img src="images/chinese_Icon_Circle.png" alt="chinese-flag" class="China-flag" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/experienceDE"><span class="German"></span>
            <img src="images/deutsch_Icon_Circle.png" alt="German" class="German" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>
    <!-- Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/homeFR">
            <img src="images/home_Icon_Circle.png" alt="Home" class="Home" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/contactFR">
            <img src="images/email_Icon_Circle.png" alt="Contact" class="Contact" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/aboutFR">
            <img src="images/info_Icon.png" alt="About" class="About" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>
    <!-- End Nav & lang links-->
</nav>
<!--End Navbar-->

<!--Start Top Row-->
<div class="container-fluid" style="height: auto">
    <div class="row">

        <!--Start XCTC Panel-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
                <img class="card-img-top img-fluid" id="ravenswoodLogo" src="../images/ravenswoodLogo.png">
                <div class="card-title experience-title">
                    XCTC - Ravenswood Solutions - Army National Guard
                </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">Directeur Technique / Opérateur de Commutateur Vidéo</li>
                        <li style="font-size: 23px;">Juin 2020 - Présent (poste contractuel en cours)</li>
                        <li id="experience-body">J'étais responsable de la production et de l'exécution des produits multimédias de qualité des exercices sur le terrain menés dans les bases militaires. En tant qu'opérateur VTHP, ma position me dictait d'enregistrer la révision après action (AAR) en plus d'agir en tant que directeur technique. Cette position exigeait une efficacité utilisant un commutateur vidéo, connaissant différentes connexions de câbles, ainsi que des décisions à la volée pour assurer la qualité du produit.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End XCTC Panel-->

        <!--Start EWPhotography Panel-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
                <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/EWPhotography.gif">
                <div class="card-title experience-title">
                    Eric Willard Photographie & Conception
                </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">Propriétaire exploitant - designer / photographe / vidéaste</li>
                        <li style="font-size: 23px;">Septembre 2014 - Présent</li>
                        <li id="experience-body">La corrélation avec les consommateurs en ce qui concerne leur photo, leur design et leur vidéo doit leur fournir un produit multimédia de la plus haute qualité. J'ai pris des commandes, communiqué avec le client sur ses besoins,
                             a planifié l'excursion appropriée pour répondre à ces besoins, puis lui a fourni à lui seul le produit souhaité.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End EWPhotography Panel-->

        <!--Start ZJUT Panel-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
                <img class="card-img-top img-fluid" id="zjutlogo" src="../images/zjutlogo.png">
                    <div class="card-title">
                        Université de Technologie du Zhejiang
                    </div>
                        <div class="card-body">
                            <ul style="list-style-type:disc;">
                                <li style="font-style: italic;">Professeur de développement Web et d'Anglais</li>
                                <li style="font-size: 23px;">Mai 2018-Mai 2019</li>
                                <li id="experience-body">Au total, j'ai enseigné à 160 étudiants les bases du développement web en anglais. Les langues couvertes étaient principalement HTML5, CSS3, Javascript et JQuery. Il était important pour les étudiants d'apprendre à la fois le codage et les connaissances de base de l'anglais, car vous ne pouvez pas coder en chinois.
                                </li>
                            </ul>
                        </div>
            </div>
        </div>
        <!--End Zhejiang University Panel-->

        <!--Start Wisdom Panel-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
                <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/wisdomLogo.jpg">
                <div class="card-title experience-title">
                    Wisdom École d'Anglais
                </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">Professeur d'Anglais</li>
                        <li style="font-size: 23px;">Avril 2018 - May 2019</li>
                        <li id="experience-body">Pendant ma chaire à ZJUT, j'ai également travaillé 22 heures. les week-ends pour la Wisdom English Academy où la plupart de mes élèves étaient âgés de 8 à 14 ans et je leur ai enseigné des cours personnalisés que j'ai faits
                             selon le programme établi par l'employeur. J'ai enseigné l'anglais à plus de 200 étudiants pendant le week-end.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End Wisdom Panel-->

    </div>
    <!--Start Second Row-->
<div class="row">

    <!--Start KU Panel-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
            <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/jayhawklogo.jpg">
            <div class="card-title experience-title">
                    Université du Kansas
                </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">Étudiant en informatique - Développement Web / Conception Web</li>
                        <li style="font-size: 23px;">Juin 2017-Avril 2018</li>
                        <li id="experience-body">Mon baccalauréat obtenu à KU s'appuie sur mon expérience passée dans la conception tout en améliorant considérablement mes compétences en développement Web complet. J'ai pu transférer une quantité importante de crédits des universités précédentes afin d'obtenir un baccalauréat de manière accélérée.
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    <!--End KU Panel-->

    <!--Start Shinyway Panel-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
            <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/shinyway.jpeg">
            <div class="card-title experience-title">
                    Shinyway International (新通外语)
            </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">Instructeur - École préparatoire à l'entrée à l'Université</li>
                        <li style="font-size: 23px;">Juin 2015 - Janjuar 2017</li>
                        <li id="experience-body">
                            J'ai préparé des diplômés du secondaire et du collège pour l'examen d'anglais IELTS afin qu'ils puissent poursuivre leurs études dans une université anglophone à l'étranger.
                            J'ai donné des cours de deux heures et je devais créer un contenu intéressant et efficace pour la classe afin que les étudiants puissent devenir des anglophones plus compétents.
                            J'ai également été chargé d'enseigner aux étudiants VIP (en tête-à-tête) la prise de parole en public, l'histoire américaine, la culture du Commonwealth britannique, l'appréciation de la littérature et l'anglais oral. 
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    <!--End Shinyway Panel-->

    <!--Start FullColl Panel-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
            <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/fullcolllogo.jpg">
            <div class="card-title experience-title">
                    Fullerton Collège
            </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">Vidéaste, Producteur, Monteur</li>
                        <li style="font-size: 23px;">Janvier 2011 - août 2011</li>
                        <li id="experience-body">
                            J'ai écrit, produit et monté une vidéo documentant le programme d'études à l'étranger au printemps 2011 à Berlin.
                            La vidéo visait à aider d'autres étudiants à comprendre les avantages d'étudier dans un pays étranger et a été produite à 98% par moi-même avec des images supplémentaires provenant d'autres étudiants. 
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    <!--End FullColl Panel-->

    <!--Start WellsFargo Panel-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
            <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/Wells-Fargo-Logo.png">
            <div class="card-title experience-title">
                    Wells Fargo Banque
            </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">Banquier Personnel</li>
                        <li style="font-size: 23px;">Juillet 2007 - Décembre 2010</li>
                        <li id="experience-body">
                            En tant que banquier personnel, j'étais responsable du service des comptes des clients, de leur fournir des produits pour répondre à leurs besoins, ainsi que de la prospection de nouveaux clients en appelant à froid les clients potentiels et existants.
                            J'étais autorisé à vendre des assurances, des hypothèques de service et à vendre / entretenir une variété d'autres produits financiers. 
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    <!--End WellsFargo Panel-->
</div>
<!--End Second Row-->
</div>
<footer class="footer winter-neva-gradient">
    © 2020 Eric Willard
</footer>