<!--Start Nav-->
<nav class="navbar navbar-expand-md navbar-expand-lg navbar-expand-xl blue-gradient-rgba">
    <a class="navbar-brand" href="/home">Eric Willard</a>

    <!-- Social Media Contact Links-->
    <ul class="navbar-collapse justify-content-start mr-auto list-inline">
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.linkedin.com/in/willarderic/">
                <img src="images/LinkedIn_Splash_Circle.png" alt="linkedin" class="linkedin" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.github.com/ewill20">
                <img src="images/gitHub_Icon_Circle.png" alt="github" class="github" style="height: 55px; width: 55px">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://stackoverflow.com/users/8011910/e-dub">
                <img src="images/stackOverflow_Icon_Circle.png" alt="StackOverflow" class="stackOverflow" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.500px.com/ewill20">
                <img src="images/500px_Icon_Splatter_Circle2.png" alt="500px" class="500px" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.viewbug.com/member/ewill">
                <img src="images/Viewbug_Splash_Circle.png" alt="Viewbug" class="Viewbug" style="height: 55px; width: 55px; display: inline-block; border-radius: 60px; box-shadow: 0px 0px 2px #888;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.instagram.com/ewill20">
                <img src="images/Instagram_Worldly_Splash.png" alt="Instagram" class="Instagram" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.youtube.com/c/EricWillard20">
                <img src="images/YouTube_Splash_Circle.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://my.indeed.com/p/ahe-0b0kbxs">
                <img src="images/Indeed_Circle.png" alt="Indeed" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://the-adaptive-traveler.herokuapp.com">
                <img src="images/TAT_Icon_Circle.png" alt="TAT" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.behance.net/ewill20">
                <img src="images/Behance_Icon_Splash.png" alt="Behance" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="http://www.visuallycheeky.com">
                <img src="images/Visually_Cheeky_Circle.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>

    <!--Dropdown for site navigation-->
    <div class="dropdown">
        <button class="btn btn-danger btn-lg dropdown-toggle" type="button" id="nav-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Site Navigation
        </button>

        <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation">
                <a class="dropdown-item" role="menuitem" tabindex="-1" href="/webPort">Web Development</a>
            </li>
            <li role="presentation">
                <a class="dropdown-item" role="menuitem" tabindex="-1" href="/education">Education</a>
            </li>
            <li role="presentation">
                <a class="dropdown-item" role="menuitem" tabindex="-1" href="/design">Design</a>
            </li>
            <li role="presentation">
                <a class="dropdown-item" role="menuitem" tabindex="-1" href="/photo">Photography</a>
            </li>
            <li role="presentation">
                <a class="dropdown-item" role="menuitem" tabindex="-1" href="/skills">Skills</a>
            </li>
            <li role="presentation">
                <a class="dropdown-item" role="menuitem" tabindex="-1" href="/video">Video</a>
            </li>
        </ul>
    </div>
    <!--End Dropdown Button-->

    <!-- Language Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/experienceCN"><span class="China"></span>
            <img src="images/chinese_Icon_Circle.png" alt="chinese-flag" class="China-flag" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/experienceDE"><span class="German"></span>
            <img src="images/deutsch_Icon_Circle.png" alt="German" class="German" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/experienceFR"><span class="France"></span>
            <img src="images/french_Icon_Circle.png" alt="French-Flag" class="French-Flag" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>
    <!-- Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/home">
            <img src="images/home_Icon_Circle.png" alt="Home" class="Home" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/contact">
            <img src="images/email_Icon_Circle.png" alt="Contact" class="Contact" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/about">
            <img src="images/info_Icon.png" alt="About" class="About" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>
    <!-- End Nav & lang links-->
</nav>
<!--End Navbar-->

<!--Start Top Row-->
<div class="container-fluid" style="height: auto;">
    <div class="row">

        <!--Start XCTC Panel-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
                <img class="card-img-top img-fluid" id="ravenswoodLogo" src="../images/ravenswoodLogo.png">
                <div class="card-title experience-title">
                    XCTC - Ravenswood Solutions - Army National Guard
                </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">Technical Director/Video Switch Operator</li>
                        <li style="font-size: 23px;">June 2020 - Present (Ongoing Contract Position)</li>
                        <li id="experience-body">I was responsible for production and execution of quality multimedia products of field exercises conducted at military bases.  As VTHP-Operator my position dictated that I record the After Action Review (AAR) in addition to acting as technical director.  This position required efficiency utilizing a video switch, knowing different cable connections, as well as on-the-fly decisions to ensure the quality of the product.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End XCTC Panel-->

        <!--Start EWPhotography Panel-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
                <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/EWPhotography.gif">
                <div class="card-title experience-title">
                    Eric Willard Photography & Design
                </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">Owner/Operator - Designer/Photographer/Videographer</li>
                        <li style="font-size: 23px;">September 2014 - Present</li>
                        <li id="experience-body">Correlated with consumers on their photo, design, and video needs in order to provide them with the highest quality media product. I would take orders, communicate with the client on their needs, schedule the appropriate outing in order to satisfy those needs, and subsequently provide them with the desired product single-handedly.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End EWPhotography Panel-->

        <!--Start ZJUT Panel-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
                <img class="card-img-top img-fluid" id="zjutlogo" src="../images/zjutlogo.png">
                <div class="card-title experience-title">
                    Zhejiang University of Technology/浙江工业大学
                </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">Professor - Web Development & English</li>
                        <li style="font-size: 23px;">May 2018-May 2019</li>
                        <li id="experience-body">I taught a total of 160 university students the basics of web development in English. Langauges covered were primarily HTML5, CSS3, Javascript, and JQuery. It was important for the students to learn both coding and the eseentials of English concurrently as one cannot code in Chinese.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End ZJUT Panel-->

        <!--Start Wisdom Panel-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
                <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/wisdomLogo.jpg">
                <div class="card-title experience-title">
                    Wisdom English School
                </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">English Teacher</li>
                        <li style="font-size: 23px;">April 2018 - May 2019</li>
                        <li id="experience-body">During my professorship at ZJUT I also worked 22hr. weekends for "Wisdom" where most of my students were between the ages of 8-14 and I taught them personalized classes I made
                            according to the curriculum set forth by the employer.  I taught English to over 200 students over the weekend.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End Wisdom Panel-->
        
    </div>
<!--End Top Row-->

<!--Start Second Row-->
<div class="row">
    <!--Start KU Panel-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
            <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/jayhawklogo.jpg">
            <div class="card-title experience-title">
                    Kansas University
                </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">Computer Science Student - Web Development/Web Design</li>
                        <li style="font-size: 23px;">June 2017-April 2018</li>
                        <li id="experience-body">My bachelor’s obtained at KU built on my past experience in design while vastly improving my skills in full-stack web development. I was able to transfer a significant amount of credits from previous universities in order to obtain a bachelor’s in an accelerated manner.
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    <!--End KU Panel-->

    <!--Start Shinyway Panel-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
            <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/shinyway.jpeg">
            <div class="card-title experience-title">
                    Shinyway International (新通外语)
            </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">Instructor - University Entrance Preparatory School</li>
                        <li style="font-size: 23px;">June 2015 - January 2017</li>
                        <li id="experience-body">
                            I prepped high school and college graduates for the IELTS English exam so they could pursue further education in an English-speaking university abroad.
                            I taught two-hour courses and was required to create interesting and effective content for class so that students could become more proficient English speakers.  
                            I was also tasked with teaching VIP students (one-on-one) about Public Speaking, American History, British Commonwealth Culture, Literature Appreciation, and Oral English. 
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    <!--End Shinyway Panel-->

    <!--Start FullColl Panel-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
            <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/fullcolllogo.jpg">
            <div class="card-title experience-title">
                    Fullerton College
            </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">Videographer, Producer, Editor</li>
                        <li style="font-size: 23px;">January 2011 - August 2011</li>
                        <li id="experience-body">
                            I wrote, produced, and edited a video documenting the study abroad program in Berlin spring 2011.
                            The video was to help other students understand the benefits of studying in a foreign country and was 98% produced by myself with some supplemental footage coming from other students. 
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    <!--End FullColl Panel-->

    <!--Start WellsFargo Panel-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px; padding: 5px 5px 5px 5px;">
            <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/Wells-Fargo-Logo.png">
            <div class="card-title experience-title">
                    Wells Fargo Bank
            </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">Personal Banker</li>
                        <li style="font-size: 23px;">July 2007 - December 2010</li>
                        <li id="experience-body">
                            As a personal banker I was responsible for servicing customers’ accounts, providing them with products to meet their needs, as well as prospecting for new customers by cold-calling prospective and existing customers.
                            I was licensed to sell insurance, service mortgages, and sell/service a variety of other financial products. 
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    <!--End WellsFargo Panel-->
</div>
<!--End Second Row-->
</div>
<footer class="footer blue-gradient-rgba">
    © 2020 Eric Willard
</footer>