<!--Start Nav-->
<nav class="navbar navbar-expand-md navbar-expand-lg navbar-expand-xl winter-neva-gradient">
    <a class="navbar-brand" href="/homeFR">Eric Willard</a>

    <!-- Social Media Contact Links-->
    <ul class="navbar-collapse justify-content-start mr-auto list-inline">
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.linkedin.com/in/willarderic/">
                <img src="images/linkedin.png" alt="linkedin" class="linkedin" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.github.com/ewill20">
                <img src="images/githubicon.png" alt="github" class="github" style="height: 55px; width: 55px">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://stackoverflow.com/users/8011910/e-dub">
                <img src="images/stackOverflow.png" alt="StackOverflow" class="stackOverflow" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.500px.com/ewill20">
                <img src="images/500px.png" alt="500px" class="500px" style="height: 60px; width: 60px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.viewbug.com/member/ewill">
                <img src="images/viewbug.jpg" alt="Viewbug" class="Viewbug" style="height: 55px; width: 55px; display: inline-block; border-radius: 60px; box-shadow: 0px 0px 2px #888;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.instagram.com/ewill20">
                <img src="images/InstagramNew.png" alt="Instagram" class="Instagram" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.youtube.com/channel/UCJ75p4PUoM-ZbQvO5B-iZ7w?view_as=subscriber">
                <img src="images/YouTube-icon.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>

    <!--Dropdown for site navigation-->
<div class="dropdown">
    <button class="btn winter-neva-gradient btn-lg dropdown-toggle" type="button" id="nav-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Nav sur le Site
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/webPortFR">Projets</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/educationFR">Éducation</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/designFR">Le Désign</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/photoFR">La Photographie</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/skillsFR">Compétences</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/videoFR">Vidéo</a>
        </li>
    </ul>
</div>
<!--End Dropdown Button-->

    <!-- Language Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/experience"><span class="flag-icon flag-icon-us"></span></a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/experienceCN"><span class="flag-icon flag-icon-cn"></span></a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/experienceDE"><span class="flag-icon flag-icon-de"></span></a>
        </li>
    </ul>
    <!-- Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-inline-item">
            <a class="nav-link glyphicon glyphicon-home" href="/homeFR"></a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link glyphicon glyphicon-envelope" href="/contactFR"></a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link glyphicon glyphicon-book" href="/aboutFR"></a>
        </li>
    </ul>
    <!-- End Nav & lang links-->
</nav>
<!--End Navbar-->

<!--Start Top Row-->
<div class="container-fluid" style="height: auto">
    <div class="row">

        <!--Start EWPhotography Panel-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/EWPhotography.gif">
                <div class="card-title experience-title">
                    Eric Willard Fotographie
                </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">Inhaber Betreiber - Designer / Fotograf / Videograf</li>
                        <li style="font-size: 23px;">September 2014 - Aktuell</li>
                        <li id="experience-body">Korreliert mit den Verbrauchern hinsichtlich ihrer Foto-, Design- und Videoanforderungen, um ihnen ein Medienprodukt von höchster Qualität zu bieten. Ich nahm Bestellungen entgegen, kommunizierte mit dem Kunden über seine Bedürfnisse,
                            plante den entsprechenden Ausflug, um diese Bedürfnisse zu befriedigen, und versorgte ihn anschließend im Alleingang mit dem gewünschten Produkt.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--End EWPhotography Panel-->

        <!--Start ZJUT Panel-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" id="zjutlogo" src="../images/zjutlogo.png">
                    <div class="card-title">
                        Technische Universität von Zhejiang/浙江工业大学
                    </div>
                        <div class="card-body">
                            <ul style="list-style-type:disc;">
                                <li>Professor für Englisch und Webentwicklung</li>
                                <li>April 2018-Mai 2019</li>
                                <li>Insgesamt habe ich 160 Studenten die Grundlagen der Webentwicklung auf Englisch beigebracht. Die behandelten Sprachen waren hauptsächlich HTML5, CSS3, Javascript und JQuery. Für die Schüler war es wichtig, gleichzeitig sowohl das Kodieren als auch die Grundkenntnisse des Englischen zu erlernen, da man nicht auf Chinesisch kodieren kann.
                                </li>
                            </ul>
                        </div>
            </div>
        </div>
        <!--End Zhejiang University Panel-->

        <!--Start KU Panel-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px;">
                <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/jayhawklogo.jpg">
                    <div class="card-title">
                        Universität von Kansas
                    </div>
                        <div class="card-body">
                            <ul style="list-style-type:disc;">
                                <li>Student - Full-Stack-Webentwicklungsprogramm</li>
                                <li>Juni 2017-Mai 2018</li>
                                <li>
                                    Dieses Programm bestand aus ungefähr 52 Wochen, in denen die Grundlagen der Full-Stack-Webentwicklung erlernt wurden. Im Verlauf des Kurses bauten die Studenten auf dem Gelernten auf und unsere Projekte wurden immer komplexer. Neben einem regulären Programmierprogramm hatten wir bereits vor Kursende mehrere Einzel- und Gruppenprojekte abgeschlossen, um möglichst praxisnahe Erfahrungen zu sammeln.
                                </li>
                            </ul>
                        </div>
            </div>
        </div>
        <!--End KU Panel-->
    </div>
    <!--Start Second Row-->
<div class="row">
    <!--Start KU Panel-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px;">
            <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/jayhawklogo.jpg">
            <div class="card-title experience-title">
                    Kansas University
                </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">Computer Science Student - Web Development/Web Design</li>
                        <li style="font-size: 23px;">June 2017-April 2018</li>
                        <li id="experience-body">My bachelor’s obtained at KU built on my past experience in design while vastly improving my skills in full-stack web development. I was able to transfer a significant amount of credits from previous universities in order to obtain a bachelor’s in an accelerated manner.
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    <!--End KU Panel-->

    <!--Start Shinyway Panel-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px;">
            <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/shinyway.jpeg">
            <div class="card-title experience-title">
                    Shinyway International (新通外语)
            </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">Instructor - University Entrance Preparatory School</li>
                        <li style="font-size: 23px;">June 2015 - January 2017</li>
                        <li id="experience-body">
                            I prepped high school and college graduates for the IELTS English exam so they could pursue further education in an English-speaking university abroad.
                            I taught two-hour courses and was required to create interesting and effective content for class so that students could become more proficient English speakers.  
                            I was also tasked with teaching VIP students (one-on-one) about Public Speaking, American History, British Commonwealth Culture, Literature Appreciation, and Oral English. 
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    <!--End Shinyway Panel-->

    <!--Start FullColl Panel-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px;">
            <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/fullcolllogo.jpg">
            <div class="card-title experience-title">
                    Fullerton College
            </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">Videographer, Producer, Editor</li>
                        <li style="font-size: 23px;">January 2011 - August 2011</li>
                        <li id="experience-body">
                            I wrote, produced, and edited a video documenting the study abroad program in Berlin spring 2011.
                            The video was to help other students understand the benefits of studying in a foreign country and was 98% produced by myself with some supplemental footage coming from other students. 
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    <!--End FullColl Panel-->

    <!--Start WellsFargo Panel-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px;">
            <img class="card-img-top img-fluid" id="jayhawklogo" src="../images/Wells-Fargo-Logo.png">
            <div class="card-title experience-title">
                    Wells Fargo Bank
            </div>
                <div class="card-body">
                    <ul style="list-style-type:disc;">
                        <li style="font-style: italic;">Personal Banker</li>
                        <li style="font-size: 23px;">July 2007 - December 2010</li>
                        <li id="experience-body">
                            As a personal banker I was responsible for servicing customers’ accounts, providing them with products to meet their needs, as well as prospecting for new customers by cold-calling prospective and existing customers.
                            I was licensed to sell insurance, service mortgages, and sell/service a variety of other financial products. 
                        </li>
                    </ul>
                </div>
        </div>
    </div>
    <!--End WellsFargo Panel-->
</div>
<!--End Second Row-->
</div>
<footer class="footer winter-neva-gradient">
    © Eric Willard
</footer>