<!--Start Nav-->
<nav class="navbar navbar-expand-md navbar-expand-lg navbar-expand-xl danger-color">
    <a class="navbar-brand" href="/homeCN">艾瑞克</a>

    <!-- Social Media Contact Links-->
    <ul class="navbar-collapse justify-content-start mr-auto list-inline">
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.linkedin.com/in/willarderic/">
                <img src="images/LinkedIn_Splash_Circle.png" alt="linkedin" class="linkedin" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.github.com/ewill20">
                <img src="images/gitHub_Icon_Circle.png" alt="github" class="github" style="height: 55px; width: 55px">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://stackoverflow.com/users/8011910/e-dub">
                <img src="images/stackOverflow_Icon_Circle.png" alt="StackOverflow" class="stackOverflow" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.500px.com/ewill20">
                <img src="images/500px_Icon_Splatter_Circle2.png" alt="500px" class="500px" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.viewbug.com/member/ewill">
                <img src="images/Viewbug_Splash_Circle.png" alt="Viewbug" class="Viewbug" style="height: 55px; width: 55px; display: inline-block; border-radius: 60px; box-shadow: 0px 0px 2px #888;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.instagram.com/ewill20">
                <img src="images/Instagram_Worldly_Splash.png" alt="Instagram" class="Instagram" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.youtube.com/c/EricWillard20">
                <img src="images/YouTube_Splash_Circle.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://my.indeed.com/p/ahe-0b0kbxs">
                <img src="images/Indeed_Circle.png" alt="Indeed" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://the-adaptive-traveler.herokuapp.com">
                <img src="images/TAT_Icon_Circle.png" alt="TAT" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.behance.net/ewill20">
                <img src="images/Behance_Icon_Splash.png" alt="Behance" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="http://www.visuallycheeky.com">
                <img src="images/Visually_Cheeky_Circle.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>
    <!-- Language Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/home"><span class="US"></span>
            <img src="images/US_Flag_Circle.png" alt="US" class="US" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/homeDE"><span class="German"></span>
            <img src="images/deutsch_Icon_Circle.png" alt="German" class="German" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/homeFR"><span class="France"></span>
            <img src="images/french_Icon_Circle.png" alt="French-Flag" class="French-Flag" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>
    <!-- Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/contactCN">
            <img src="images/email_Icon_Circle.png" alt="Contact" class="Contact" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/aboutCN">
            <img src="images/info_Icon.png" alt="About" class="About" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>
</nav>
<!--End Navbar-->

<!--Nav Panels-->
<div class="container-fluid">
    <div class="row top-panels">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">

            <!--Left Column Top-->
            <!--Web Development-->
            <a href="/webPortCN">
                <div class="card">
                    <img class="card-img-top rounded" style= "height: 500px;" id="WebDevS" src="../images/TATSSNew.png">
                    <div class="card-title">
                        <p id="card-text">Web开发<i class="glyphicon glyphicon-link"></i></p>
                    </div>
                </div>
            </a>
        </div>
        <!--End Web Development Column-->
        <!--End Left Column Top-->

        <!--Middle Columm Top-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">

            <!--Experience-->
            <a href="/experienceCN">
                <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px;">
                    <img class="card-img-top rounded" id="experiencePic" src="../images/CNBacktoSchool1.jpg">
                    <div class="card-title">
                        <p id="card-text">经历<i class="glyphicon glyphicon-ok"></i></p>
                    </div>
                </div>
            </a>
            <!--End Experience-->
        </div>
        <!--End Middle Column-->

        <!--Right Column-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <!--Education-->
            <a href="/educationCN">
                <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px;">
                    <img class="card-img-top rounded" id="gradPic" src="../images/Graduation-UCSD-Me.jpg">
                    <div class="card-title">
                        <p id="card-text">教育<i class="glyphicon glyphicon-education"></i></p>
                    </div>
                </div>
            </a>
            <!--End Education-->
        </div>
        <!--End Right Column-->
    </div>
    <!--End Top Row-->

    <!--Middle Row-->
    <div class="row middle">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <!--Design Panel-->
            <a href="/designCN">
                <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px;">
                    <img class="card-img-top rounded" id="TAT" src="../images/TAT-Image.png">
                    <div class="card-title">
                        <p id="card-text">设计<i class="glyphicon glyphicon-edit"></i></p>
                    </div>
                </div>
            </a>
            <!--End Design Panel-->
        </div>
        <!--End Left Column-->

        <!--Start Middle Column-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <!--Start Travel Panel-->
            <a href="/travelCN">
                <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px;">
                    <img class="card-img-top rounded" id="travelLogo" src="../images/travel_Maps.jpg">
                    <div class="card-title">
                        <p id="card-text">旅行<i class="glyphicon glyphicon-plane"></i>
                        </p>
                    </div>
                </div>
            </a>
            <!--End Travel Panel-->
        </div>
        <!--End Middle Column-->

        <!--Start Right Column-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <!--Start Photography Panel-->
            <a href="/photoCN">
                <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">
                    <img class="card-img-top rounded" id="meShooting" src="../images/FranceMeIrelandRV.jpg">
                    <div class="card-title">
                        <p id="card-text">摄影<i class="glyphicon glyphicon-camera"></i></p>
                    </div>
                </div>
            </a>
            <!--End Photography Panel-->
        </div>
        <!--End Right Column-->
    </div>
    <!--End Middle Row-->

    <!--Bottom Row-->
    <div class="row bottom-panels">

        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">

            <!--Skills Panel-->
            <a href="/skillsCN">
                <div class="card" style="max-width: 100%;" "background-color: white; border: solid lightgray 1px;">
                    <img class="card-img-top rounded" id="skillsPic" src="../images/skillsPic.jpg">
                    <!-- <div class="panel panel-header">
                    </div> -->
                    <div class="card-title">
                        <p id="card-text">技能<i class="glyphicon glyphicon-move"></i></p>
                    </div>
                </div>
            </a>
            <!--End Skills-->
        </div>
        <!--End Left Column-->

        <!--Start Middle Column-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <!--Start Video Panel-->
            <a href="/videoCN">
                <div class="card" style="background-color: white; border: solid lightgray 1px;">
                    <img class="card-img-top rounded" id="videography"><iframe style="width: -webkit-fill-available;" height="500px;" src="https://www.youtube.com/embed/rEEGPJSIeHE" frameborder="10" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <div class="card-title">
                        <p id="card-text">视频<i class="glyphicon glyphicon-facetime-video"></i></p>
                    </div>
                </div>
            </a>
            <!--End Video Panel-->
        </div>
        <!--End Middle Column-->

        <!--Right Column-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <!--Languages Panel-->
            <a href="/langCN">
                <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">
                    <img class="card-img-top rounded" id="langLogo" src="../images/language_icon.jpg">

                    <div class="card-title">
                        <p id="card-text">语言<i class="glyphicon glyphicon-stats"></i></p>
                    </div>
                </div>
            </a>
            <!--End Languages Panel-->
        </div>
        <!--End Right Column-->
    </div>
</div>
<footer class="footer danger-color">
    © 2020 艾瑞克
</footer>