<!--Start Nav-->
<nav class="navbar navbar-expand-md navbar-expand-lg navbar-expand-xl navbar-dark green-gradient">
    <!-- <div class="container"> -->
    <a class="navbar-brand" href="/home">Eric Willard</a>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>

    <!-- Links -->
    <ul class="navbar-nav navbar-right list-inline">
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/about">About
            </a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/portfolio">Portfolio</a>
        </li>
        <li class="nav-item list-item-inline">
            <a class="nav-link" href="/contact">Contact</a>
        </li>
    </ul>
    </div>
</nav>
<!--End Navbar-->

<!--Nav Panels-->
<div class="container-fluid">
    <div class="row top-panels">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">

            <!--Left Column Top-->
            <!--Web Development-->
            <div class="panel panel-default" style="background-color: white; border: solid lightgray 1px;"><a href="/webPort">
                    <div class="panel panel-header">Web Development<i class="glyphicon glyphicon-globe"></i>
                    </div>
                    <div class="panel panel-body"><img id="WebDevSS" src="../images/clicktripUI.png">
                    </div>
            </div></a>

        </div>
        <!--End Web Development Column-->
        <!--End Left Column Top-->

        <!--Middle Columm Top-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">

            <!--Experience-->
            <div class="panel panel-default" style="background-color: white; border: solid lightgray 1px;"><a href="/experience">
                    <div class="panel panel-header">Experience<i class="glyphicon glyphicon-ok"></i>
                    </div>
                    <div class="panel panel-body"><img id="experiencePic" src="../images/CNBacktoSchool1.jpg">
                    </div>
            </div></a>
            <!--End Experience-->
            <!--End Left Column Top-->

        </div>
        <!--End Middle Column-->

        <!--Right Column-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">

            <!--Education-->
            <div class="panel panel-default" style="background-color: white; border: solid lightgray 1px;"><a href="/education">
                    <div class="panel panel-header">Education<i class="glyphicon glyphicon-education"></i>
                    </div>
                    <div class="panel panel-body"><img id="gradPic" src="../images/Graduation-UCSD-Me.jpg">
                    </div>
            </div></a>
            <!--End Education-->
        </div>
    </div>
    <!--End Right Column-->
</div>
<!--Bottom Row-->
<div class="row bottom-panels">
    <div class="col-xs-offset-3 col-offset-sm-3 col-offset-md-3 col-offset-lg-3 col-xl-3">

        <!--Photography Panel-->
        <div class="panel panel-default" style="background-color: white; border: solid lightgray 1px;"><a href="/photo">
                <div class="panel panel-header">Photography<i class="glyphicon glyphicon-camera"></i>
                </div>
                <div class="panel panel-body"><img id="meShooting" src="../images/FranceMeIrelandRV.jpg">
                </div>
        </div></a>
        <!--End Photography-->
    </div>

    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">

        <!--Skills Panel-->
        <div class="panel panel-default" style="background-color: white; border: solid lightgray 1px;"><a href="/skills">
                <div class="panel panel-header">Skills<i class="glyphicon glyphicon-star-empty"></i>
                </div>
                <div class="panel panel-body"><img id="" src="">
                </div>
        </div></a>
        <!--End Skills Panel-->
    </div>


    <!--Video Panel-->
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <!--Video Panel-->
        <div class="panel panel-default" style="background-color: white; border: solid lightgray 1px;"><a href="/video">
                <div class="panel panel-header">Video<i class="glyphicon glyphicon-facetime-video"></i>
                </div>
                <div class="panel panel-body">Slideshow Here...
                </div>
        </div></a>
        <!--End Video Panel-->
    </div>
</div>
</div>