<!--Start Nav-->
<nav class="navbar navbar-expand-md navbar-expand-lg navbar-expand-xl winter-neva-gradient">
    <a class="navbar-brand" href="/homeFR">Eric Willard</a>

    <!-- Social Media Contact Links-->
    <ul class="navbar-collapse justify-content-start mr-auto list-inline">
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.linkedin.com/in/willarderic/">
                <img src="images/LinkedIn_Splash_Circle.png" alt="linkedin" class="linkedin" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.github.com/ewill20">
                <img src="images/gitHub_Icon_Circle.png" alt="github" class="github" style="height: 55px; width: 55px">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://stackoverflow.com/users/8011910/e-dub">
                <img src="images/stackOverflow_Icon_Circle.png" alt="StackOverflow" class="stackOverflow" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.500px.com/ewill20">
                <img src="images/500px_Icon_Splatter_Circle2.png" alt="500px" class="500px" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.viewbug.com/member/ewill">
                <img src="images/Viewbug_Splash_Circle.png" alt="Viewbug" class="Viewbug" style="height: 55px; width: 55px; display: inline-block; border-radius: 60px; box-shadow: 0px 0px 2px #888;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.instagram.com/ewill20">
                <img src="images/Instagram_Worldly_Splash.png" alt="Instagram" class="Instagram" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.youtube.com/c/EricWillard20">
                <img src="images/YouTube_Splash_Circle.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://my.indeed.com/p/ahe-0b0kbxs">
                <img src="images/Indeed_Circle.png" alt="Indeed" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://the-adaptive-traveler.herokuapp.com">
                <img src="images/TAT_Icon_Circle.png" alt="TAT" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.behance.net/ewill20">
                <img src="images/Behance_Icon_Splash.png" alt="Behance" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="http://www.visuallycheeky.com">
                <img src="images/Visually_Cheeky_Circle.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>

    <!--Dropdown for site navigation-->
<div class="dropdown">
    <button class="btn winter-neva-gradient btn-lg dropdown-toggle" type="button" id="nav-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Nav sur le Site
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/webPortFR">Projets</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/experienceFR">Expériences Professionelles</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/educationFR">Éducation</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/designFR">Le Désign</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/skillsFR">Compétences</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/videoFR">Vidéo</a>
        </li>
    </ul>
</div>
<!--End Dropdown Button-->

    <!-- Language Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/photo"><span class="flag-icon flag-icon-us"></span></a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/photoCN"><span class="flag-icon flag-icon-cn"></span></a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/photoDE"><span class="flag-icon flag-icon-de"></span></a>
        </li>
    </ul>
    <!-- Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-inline-item">
            <a class="nav-link glyphicon glyphicon-home" href="/homeFR"></a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link glyphicon glyphicon-envelope" href="/contactFR"></a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link glyphicon glyphicon-book" href="/aboutFR"></a>
        </li>
    </ul>
    <!-- End Nav & lang links-->
</nav>
<!--End Navbar-->

<!--Start Main Content-->
<div class="container-fluid">
    <div class="row">

        <!--Shellhaus Photo-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

                <!--Hover description-->
                <div class="view overlay" id="shellHausInfo">
                    <img class="card-img-top img-fluid" id="shellHaus" src="../images/BerlinShellhausDone1.jpg">
                        <div class="mask flex-center winter-neva-gradient">
                            <p class="white-text">
                                Le "Shell-Haus" à Berlin avec des couleurs changées et modifiées d'une manière qui lui donne une identité complètement différente.
                            </p>
                        </div>
                </div>
                <!--End Hover Description-->

                <div class="card-title">
                    Shell-Haus
                </div>
            </div>
        </div>
        <!--End Shellhaus Panel-->

        <!--Start Die Welle-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

                <!--Hover description-->
                <div class="view overlay" id="DieWelleInfo">
                    <img class="card-img-top img-fluid" id="DieWelle" src="../images/DEDieWelle2.jpg">
                        <div class="mask flex-center winter-neva-gradient">
                            <p class="white-text">
                                Un immeuble de bureaux à Hambourg, en Allemagne, connu sous le nom de "Die Welle" (La vague). C'était un bâtiment magnifique et intéressant à photographier et facilement manqué si l'on ne connaît pas son emplacement.
                            </p>
                        </div>
                </div>
                <!--End Hover Description-->

                <div class="card-title">
                    Die Welle
                </div>
            </div>
        </div>
        <!--End Die Welle Panel-->

        <!--Start Sand Dunes-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

                <!--Hover description-->
                <div class="view overlay" id="DunesInfo">
                    <img class="card-img-top img-fluid" id="Dunes" src="../images/COSandDunesBeerBackpack.jpg">
                        <div class="mask flex-center winter-neva-gradient">
                            <p class="white-text">
                                Une photo de mon sac à dos d'appareil photo avec de la bière itinérante aux Great Sand Dunes à l'extérieur d'Alamosa, au Colorado.
                            </p>
                        </div>
                </div>
                <!--End Hover Description-->

                <div class="card-title">
                    Beer, Backpack, and Dunes
                </div>
            </div>
        </div>
        <!--End Dunes Panel-->        

        <!--Start Amsterdam Canal-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

                <!--Hover description-->
                <div class="view overlay" id="SingelInfo">
                    <img class="card-img-top img-fluid" id="Singel" src="../images/NLAmsterdamCanalScape2.jpg">
                        <div class="mask flex-center winter-neva-gradient">
                            <p class="white-text">
                                Un quartier d'Amsterdam connu sous le nom de "Singel" et se trouve près du cœur de la ville. Les couleurs nocturnes, les péniches et le reflet du canal sont tout simplement impressionnants.
                            </p>
                        </div>
                </div>
                <!--End Hover Description-->

                <div class="card-title">
                    Singel Canalscape
                </div>
            </div>
        </div>
        <!--End Amsterdam Panel-->

    </div>

    <!--Start New (2nd) Row-->
    <div class="row">

        <!--Start HK Night Lights-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

                <!--Hover description-->
                <div class="view overlay" id="HKLightsInfo">
                    <img class="card-img-top img-fluid" id="HKLights" src="../images/CNHKNightStreaks.jpg">
                        <div class="mask flex-center winter-neva-gradient">
                            <p class="white-text">
                                La nuit, les rues sillonnées de Hong Kong occupent un cadre magnifique de stries et de gratte-ciel.
                            </p>
                        </div>
                </div>
                <!--End Hover Description-->

                <div class="card-title">
                    Streaks & Skyscrapers
                </div>
            </div>
        </div>
        <!--End HK Lights Panel-->

        <!--Start Red Hat girl Panel-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">        
        <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover Description-->
            <div class="view overlay" id="redHatDesc">
                <img class="card-img-top img-fluid" id="redHat" src="../images/KoreanHat.jpg">
                    <div class="mask flex-center winter-neva-gradient">
                        <p class="white-text">
                            Une de mes amies, le dos tourné vers la caméra, portait un chapeau rouge vif.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Chapeau Rouge
            </div>
        </div>
        </div>
        <!--End Red Hat Girl Panel-->

        <!--Start Crucifix Panel-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

                <!--Hover description-->
                <div class="view overlay" id="CrucifixInfo">
                    <img class="card-img-top img-fluid" id="Crucifix" src="../images/MacauFlyingCrucifix3.jpg">
                        <div class="mask flex-center winter-neva-gradient">
                            <p class="white-text">
                                Un autre immeuble au hasard tiré de l'intérieur de la cour à Macao. Les bâtiments au-dessus semblaient très intéressants et semblent former un crucifix.
                            </p>
                        </div>
                </div>
                <!--End Hover Description-->

                <div class="card-title">
                    Flying Crucifix
                </div>
            </div>
        </div>
        <!--End Crucifix Panel-->

        <!--Start Washing Machine-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

                <!--Hover description-->
                <div class="view overlay" id="KanzleramtInfo">
                    <img class="card-img-top img-fluid" id="Kanzler" src="../images/BerlinWashingMachineRV.jpg">
                        <div class="mask flex-center winter-neva-gradient">
                            <p class="white-text">
                                Le Bundeskanzleramt à Berlin, en Allemagne, où travaille le chancelier d'Allemagne. Cette partie du bâtiment est connue sous le nom de "Machine à laver" en raison de sa nature circulaire.
                            </p>
                        </div>
                </div>
                <!--End Hover Description-->

                <div class="card-title">
                    The Washing Machine
                </div>
            </div>
        </div>
        <!--End Washing Machine Panel--> 
    </div>
    <!--End 2nd Row-->

    <!--Start 3rd row-->
    <div class="row">
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">

        <!--Start Groningen Panel-->
        <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px;">

            <!--Hover Description-->
            <div class="view overlay" id="GroningenDesc">
                <img class="card-img-top img-fluid" id="Groningen" src="../images/NLGroningenColors1.jpg">
                    <div class="mask flex-center winter-neva-gradient">
                        <p class="white-text">
                            Quelques maisons colorées avec un grand reflet près d'un centre commercial dans la petite ville néerlandaise de Groningen.
                        </p>
                    </div>
            </div>
            <!--End Hover Description-->

            <div class="card-title">
                Groningen Kleuren
            </div>
        </div>
        </div>
        <!--End Groningen Panel-->

        <!--Start Macau Panel-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

                <!--Hover description-->
                <div class="view overlay" id="MacauInfo">
                    <img class="card-img-top img-fluid" id="Macau" src="../images/MacauGreenTwist.jpg">
                        <div class="mask flex-center winter-neva-gradient">
                            <p class="white-text">
                                Un immeuble d'appartements au hasard à Macao pris dans un style panorama vertical provoquant une extrusion des bords.
                            </p>
                        </div>
                </div>
                <!--End Hover Description-->

                <div class="card-title">
                    Green Twist
                </div>
            </div>
        </div>
        <!--End Macau Panel-->

        <!--Start Horseshoe Canyon Panel-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

                <!--Hover description-->
                <div class="view overlay" id="HorseshoeInfo">
                    <img class="card-img-top img-fluid" id="HorseShoe" src="../images/AZHSBHDR.jpg">
                        <div class="mask flex-center winter-neva-gradient">
                            <p class="white-text">
                                Situé près du célèbre Antelope Canyon, cet endroit est connu sous le nom de Horseshoe Bend dans le nord de l'Arizona.
                            </p>
                        </div>
                </div>
                <!--End Hover Description-->

                <div class="card-title">
                    Horseshoe Bend
                </div>
            </div>
        </div>
        <!--End Horseshoe Canyon Panel-->

        <!--Start Tron Panel-->
        <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;">

                <!--Hover description-->
                <div class="view overlay" id="TronInfo">
                    <img class="card-img-top img-fluid" id="Tron" src="../images/CNTron.jpg">
                        <div class="mask flex-center winter-neva-gradient">
                            <p class="white-text">
                                Un bâtiment nommé "White Horse Convention Center" à Hangzhou, en Chine, est illuminé d'une manière qui évoque les souvenirs du film Tron.
                            </p>
                        </div>
                </div>
                <!--End Hover Description-->

                <div class="card-title">
                    Tron
                </div>
            </div>
        </div>
        <!--End Tron Panel-->  
    </div>
    <!--End 3rd Row-->
</div>
<footer class="footer winter-neva-gradient">
    © Eric Willard
</footer>