<!--Start Nav-->
<nav class="navbar navbar-expand-md navbar-expand-lg navbar-expand-xl winter-neva-gradient">
    <a class="navbar-brand" href="/homeFR">Eric Willard</a>

    <!-- Social Media Contact Links-->
    <ul class="navbar-collapse justify-content-start mr-auto list-inline">
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.linkedin.com/in/willarderic/">
                <img src="images/LinkedIn_Splash_Circle.png" alt="linkedin" class="linkedin" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.github.com/ewill20">
                <img src="images/gitHub_Icon_Circle.png" alt="github" class="github" style="height: 55px; width: 55px">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://stackoverflow.com/users/8011910/e-dub">
                <img src="images/stackOverflow_Icon_Circle.png" alt="StackOverflow" class="stackOverflow" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.500px.com/ewill20">
                <img src="images/500px_Icon_Splatter_Circle2.png" alt="500px" class="500px" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.viewbug.com/member/ewill">
                <img src="images/Viewbug_Splash_Circle.png" alt="Viewbug" class="Viewbug" style="height: 55px; width: 55px; display: inline-block; border-radius: 60px; box-shadow: 0px 0px 2px #888;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.instagram.com/ewill20">
                <img src="images/Instagram_Worldly_Splash.png" alt="Instagram" class="Instagram" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.youtube.com/c/EricWillard20">
                <img src="images/YouTube_Splash_Circle.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://my.indeed.com/p/ahe-0b0kbxs">
                <img src="images/Indeed_Circle.png" alt="Indeed" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://the-adaptive-traveler.herokuapp.com">
                <img src="images/TAT_Icon_Circle.png" alt="TAT" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.behance.net/ewill20">
                <img src="images/Behance_Icon_Splash.png" alt="Behance" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="http://www.visuallycheeky.com">
                <img src="images/Visually_Cheeky_Circle.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>

<!--Dropdown for site navigation-->
<div class="dropdown">
    <button class="btn winter-neva-gradient btn-lg dropdown-toggle" type="button" id="nav-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Nav sur le Site
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/webPortFR">Projets</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/experienceFR">Expériences Professionelles</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/educationFR">Éducation</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/designFR">Le Désign</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/travelFR">Voyage</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/photoFR">La Photographie</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/skillsFR">Compétences</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/languagesFR">Les Langues</a>
        </li>
    </ul>
</div>
<!--End Dropdown Button-->

    <!-- Language Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/video"><span class="US"></span>
            <img src="images/US_Flag_Circle.png" alt="US" class="US" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/videoCN"><span class="China"></span>
            <img src="images/chinese_Icon_Circle.png" alt="chinese-flag" class="China-flag" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/videoDE"><span class="German"></span>
            <img src="images/deutsch_Icon_Circle.png" alt="German" class="German" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>
    <!-- Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/homeFR">
            <img src="images/home_Icon_Circle.png" alt="Home" class="Home" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/contactFR">
            <img src="images/email_Icon_Circle.png" alt="Contact" class="Contact" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/aboutFR">
            <img src="images/info_Icon.png" alt="About" class="About" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>
    
</nav>

<!--End Navbar-->
<div class="container-fluid">
    <div class="row" style="margin-bottom: 60px;">
        
        <!--Start NYE Video-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">  
            <div class="card video" style="max-width: 100%; background-color: white; border: solid lightgray 1px;"><a href="/video">
                    <img class="card-img-top"><iframe style="width:-webkit-fill-available;" height="251px" src="https://www.youtube.com/embed/LzuodgK58ig" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <div class="card-title">
                        <p id="card-text">Dégustation de whisky de Scène Sociale - Complète (Kansas City, MO 2020)</p>
                    </div>
            </div></a>
        </div>
        <!--End NYE Panel-->

        <!--Start NYE Video-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">  
            <div class="card video" style="max-width: 100%; background-color: white; border: solid lightgray 1px;"><a href="/video">
                    <img class="card-img-top"><iframe style="width:-webkit-fill-available;" height="251px" src="https://www.youtube.com/embed/w37amHZTZiQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <div class="card-title">
                        <p id="card-text">Dégustation de whisky de Scène Sociale - Taquin (Kansas City, MO 2020)</p>
                    </div>
            </div></a>
        </div>
        <!--End NYE Panel-->

        <!--Start NYE Video-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">  
            <div class="card video" style="max-width: 100%; background-color: white; border: solid lightgray 1px;"><a href="/video">
                    <img class="card-img-top"><iframe style="width:-webkit-fill-available;" height="251px" src="https://www.youtube.com/embed/mpDkmM211UQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <div class="card-title">
                        <p id="card-text">Tournée des bars de la scène sociale du Nouvel An - Complète (Kansas City, MO 2019/2020)</p>
                    </div>
            </div></a>
        </div>
        <!--End NYE Panel-->   
    </div>
    <!--Start Row 2-->
    <div class="row">
        <!--Start NYE Teaser Video-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">  
            <div class="card video" style="max-width: 100%; background-color: white; border: solid lightgray 1px;"><a href="/video">
                    <img class="card-img-top"><iframe style="width: -webkit-fill-available;" height="251px" src="https://www.youtube.com/embed/1_658MI5LYs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <div class="card-title">
                        <p id="card-text">Tournée des bars de la scène sociale du Nouvel An - Taquin (Kansas City, MO 2019/2020)</p>
                    </div>
            </div></a>
        </div>
        <!--End NYE Teaser Panel-->
        
        <!--Start Drone Video-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">  
            <div class="card video" style="max-width: 100%; background-color: white; border: solid lightgray 1px;"><a href="/video">
                    <img class="card-img-top"><iframe style="width:-webkit-fill-available;" height="251px" src="https://www.youtube.com/embed/kz5rXtngucQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <div class="card-title">
                        <p id="card-text">Huff 'n Puff par Drone (Kansas 2019)</p>
                    </div>
            </div></a>
        </div>
        <!--End Drone Panel-->
        
        <!--Start Zhangjiajie Video Panel-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">  
            <div class="card video" style="max-width: 100%; background-color: white; border: solid lightgray 1px;"><a href="/video">
                    <img class="card-img-top"><iframe style="width: -webkit-fill-available" height="251px" src="https://www.youtube.com/embed/JAaR5Rurdf4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <div class="card-title">
                        <p id="card-text">Parc Forestier National de Zhangjiajie par Drone (Chine 2016)</p>
                    </div>
            </div></a>
        </div>
        <!--End Zhangjiajie Video Panel-->   
    </div>
    <!--End Row 2-->

    <!--Start Row 3-->
    <div class="row">
        <!--Start Fullerton College Video Panel-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;"><a href="/video">
                    <img class="card-img-top"><iframe style="width: -webkit-fill-available;" height="251px" src="https://www.youtube.com/embed/rEEGPJSIeHE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <div class="card-title">
                        <p id="card-text">Fullerton Collège Étudier à l'étranger Vidéo (Berlin 2011)</p>
                    </div>
            </div></a>
        </div>
        <!--End Full Coll Panel-->

        <!--Start Bier Drei-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">  
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;"><a href="/video">
                    <img class="card-img-top"><iframe style="width: -webkit-fill-available;" height="251px" src="https://www.youtube.com/embed/z7KHWpZpYDo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <div class="card-title">
                        <p id="card-text">"Bier Drei" - UCSD Projet de classe d'allemand (Californie 2014)</p>
                    </div>
            </div></a>
        </div>
        <!--End Bier Drei-->

    <!--Start EuroCollege Video-->   
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">  
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;"><a href="/video">
                    <img class="card-img-top"><iframe style="width: -webkit-fill-available;" height="251px" src="https://www.youtube.com/embed/Q2_wPRxTdUo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <div class="card-title">
                        <p id="card-text">Euro Collège: Paris Étudier à l'étranger Introduction (Californie 2012)</p>
                    </div>
            </div></a>
        </div>
    <!--End EuroCollege Video-->
    </div>
    <!--End Row 3-->

    <!--Start Row 4-->
    <div class="row">
        <!--Start BryLisRayJuMoi-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">  
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;"><a href="/video">
                    <img class="card-img-top"><iframe style="width: -webkit-fill-available;" height="251px" src="https://www.youtube.com/embed/K5sO8ph_gxI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <div class="card-title">
                        <p id="card-text">"BryLisRayJuMoi" - Vidéo de nos excursions (Europe 2011)</p>
                    </div>
            </div></a>
        </div>
        <!--End BryLisRayJuMoi-->

        <!--Start Dance Class Video-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">  
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;"><a href="/video">
                    <img class="card-img-top"><iframe style="width:-webkit-fill-available;" height="251px" src="https://www.youtube.com/embed/2pFM2N1JNPw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <div class="card-title">
                        <p id="card-text">Fullerton Collège Cours de danse Vidéo (Californie 2010)</p>
                    </div>
            </div></a>
        </div>
        <!--End Dance Class Video-->
    
        <!--Start Fear and Loathing Panel-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">  
            <div class="card" style="max-width: 100%; background-color: white; border: solid lightgray 1px;"><a href="/video">
                    <img class="card-img-top"><iframe style="width: -webkit-fill-available;" height="251px" src="https://www.youtube.com/embed/1kc-M1j0bS8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

                    <div class="card-title">
                        <p id="card-text">Las Vegas parano Projet (Californie 2010)</p>
                    </div>
            </div></a>
        </div>
        <!--End Fear and Loathing-->

    </div>
</div>

<footer class="footer winter-neva-gradient">
    © Eric Willard
</footer>