<!--Start Nav-->
<nav class="navbar navbar-expand-md navbar-expand-lg navbar-expand-xl sunny-morning-gradient">
    <a class="navbar-brand" href="/homeDE">Eric Willard</a>

    <!-- Social Media Contact Links-->
    <ul class="navbar-collapse justify-content-start mr-auto list-inline">
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.linkedin.com/in/willarderic/">
                <img src="images/LinkedIn_Splash_Circle.png" alt="linkedin" class="linkedin" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.github.com/ewill20">
                <img src="images/gitHub_Icon_Circle.png" alt="github" class="github" style="height: 55px; width: 55px">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://stackoverflow.com/users/8011910/e-dub">
                <img src="images/stackOverflow_Icon_Circle.png" alt="StackOverflow" class="stackOverflow" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.500px.com/ewill20">
                <img src="images/500px_Icon_Splatter_Circle2.png" alt="500px" class="500px" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.viewbug.com/member/ewill">
                <img src="images/Viewbug_Splash_Circle.png" alt="Viewbug" class="Viewbug" style="height: 55px; width: 55px; display: inline-block; border-radius: 60px; box-shadow: 0px 0px 2px #888;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.instagram.com/ewill20">
                <img src="images/Instagram_Worldly_Splash.png" alt="Instagram" class="Instagram" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.youtube.com/c/EricWillard20">
                <img src="images/YouTube_Splash_Circle.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://my.indeed.com/p/ahe-0b0kbxs">
                <img src="images/Indeed_Circle.png" alt="Indeed" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://the-adaptive-traveler.herokuapp.com">
                <img src="images/TAT_Icon_Circle.png" alt="TAT" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="https://www.behance.net/ewill20">
                <img src="images/Behance_Icon_Splash.png" alt="Behance" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item navbar-center list-inline-item">
            <a href="http://www.visuallycheeky.com">
                <img src="images/Visually_Cheeky_Circle.png" alt="YouTube" class="YouTube" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>

<!--Dropdown for site navigation-->
<div class="dropdown" style="padding-bottom: 10px;">
    <button class="btn btn-dark btn-large dropdown-toggle" type="button" id="nav-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Seitennavigation
    </button>

    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/experienceDE">Berufserfahrung</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/educationDE">Schulausbildung</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/designDE">das Design</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/travelDE">die Reise</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/photoDE">Fotografie</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/skillsDE">die Fähigkeiten</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/videoDE">Videografie</a>
        </li>
        <li role="presentation">
            <a class="dropdown-item" role="menuitem" tabindex="-1" href="/langDE">die Sprachen</a>
        </li>
    </ul>
</div>
<!--End Dropdown Button-->

    <!-- Language Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/webPort"><span class="US"></span>
            <img src="images/US_Flag_Circle.png" alt="US" class="US" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/webPortCN"><span class="China"></span>
            <img src="images/chinese_Icon_Circle.png" alt="chinese-flag" class="China-flag" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/webPortFR"><span class="France"></span>
            <img src="images/french_Icon_Circle.png" alt="French-Flag" class="French-Flag" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>
    <!-- Links -->
    <ul class="navbar-nav mr-auto navbar-right list-inline" style="margin-left: 30px;">
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/homeDE">
            <img src="images/home_Icon_Circle.png" alt="Home" class="Home" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/contactDE">
            <img src="images/email_Icon_Circle.png" alt="Contact" class="Contact" style="height: 55px; width: 55px;">
            </a>
        </li>
        <li class="nav-item list-inline-item">
            <a class="nav-link" href="/aboutDE">
            <img src="images/info_Icon.png" alt="About" class="About" style="height: 55px; width: 55px;">
            </a>
        </li>
    </ul>
    
</nav>

<!--End Navbar-->

<!-- Nav Panels-->
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">

        <!--Left Column Panel-->
        <!--The Adaptive Traveler-->
        <a href="https://the-adaptive-traveler.herokuapp.com" target="_blank">
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px;">
                
                <!--hover text description-->
                <div class="view overlay" id="tatDesc">
                <img class="card-img-top img-fluid" id="tat" src="../images/TATSSNew.png">
                    <div class="mask flex-center sunny-morning-gradient">
                        <p class="white-text">
                            Ihre One-Stop-Website für all das Reisewissen, das Sie brauchen, um weniger ein Tourist zu sein als ein anpassungsfähiger Reisender ...
                        </p>
                    </div>
                </div>
                <!--end hover description-->

                <div class="card-body">
                <p id="card-text">Der Adaptive Reisender</p>
                </div>
            </div></a>
        </div>
        <!--End Left Column Panel-->

        <!--Start Middle Column Panel-->
        <!--Click Trip-->
        <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
        <a href="https://ewill20.github.io/clicktrip/" target="_blank">
        <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px;">
            
            <!--Hover description over the photo-->
            <div class="view overlay" id="clickDesc">
                <img class="card-img-top img-fluid" id="clicktrip" src="../images/clicktripUI.png">
                <div class="mask flex-center sunny-morning-gradient">
                    <p class="white-text">
                       Eine Website für alle, die gerne auf Reisen fotografieren. Diese Seite ist spezialisiert auf abgelegene Fotostandorte, über die die meisten Reisenden nicht so viel wissen.
                    </p>
                </div>
            </div>
            <div class="card-body">
                <p id="card-text">clickTrip</p>
                </div>
            </div></a>
        </div>
        <!--End Middle Column Panel-->

        <!--Right Column Panel-->
        <!--Innovative Photos-->
        <a href="https://innovative-photos.herokuapp.com/" target="_blank">
            <div class="card" style="max-width: 100%; max-height: 100%; background-color: white; border: solid lightgray 1px;">
                
            <!--start hover effect-->
            <div class="view overlay" id="inPhotoDesc">
                <img class="card-img-top img-fluid" id="inPhotos" src="../images/IPLOGO.jpg">
                    <div class="mask flex-center sunny-morning-gradient">
                        <p class="white-text">
                             Eine Website, auf der Sie verschiedene Druckstile von Acryl über Aluminium und mehr bestellen können. Die Website ist nur auf dem chinesischen Festland verfügbar.
                        </p>
                    </div>
            </div>
            
                <div class="card-body">
                <p id="card-text">Innovative Fotos/创新照片</p>
                </div>
            </div></a>
        </div>
        <!--End Left Column Panel-->

<footer class="footer sunny-morning-gradient">
    © 2020 Eric Willard
</footer>