$font-stack: 'Lobster Two', cursive;
$primary-color: #4aaaa5;
$facebook-blue: #3b5998;
$linkedin-blue: #007bb5;
$background: #ffffff;
$width: 100%;
$align
$background-image: 

body { width: 100%; padding: 0; align-content: center; }

    .container { width: 100%; }

}